@use "../../design/colors/Colors";
@media only screen and (min-width: 600px) {
  .tool_navigation__card {
    display: flex;
    align-items: flex-start;
    width: 18vw;
    border: 1px solid Colors.$c38;
    border-radius: 25px;
    padding: 3vh 1.5vw;
    justify-content: space-between;
    transition: all 0.3s ease-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.01);
    }
    .card_title {
      font-weight: 700;
      font-size: 1.4vw;
      color: Colors.$c39;
      font-family: "Plus Jakarta Sans", sans-serif;
    }

    .card_description {
      font-weight: 400;
      color: Colors.$c30;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 1.02vw;
      margin-top: 1vh;
    }

    .card_left_section {
      width: 27vw;
    }

    .card_right_section {
      height: 35px;
      width: 35px;
      background-color: Colors.$c6;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  }
}
