.employee_details_requests_main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .employee_details_requests_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px;
  }

  .date-filter {
    display: flex;
    flex-direction: row;
    gap: 24px;

    .date-input {
      width: fit-content;
      object-fit: contain;
      display: flex;
      gap: 9px;
      align-items: center;

      label {
        font-size: 14px;
        font-weight: 600;
        font-family: "Plus Jakarta Sans";
        color: #054a68;
      }

      .custom-date-input {
        position: relative;
        width: 100%;
      }

      .custom-date-input input[type="text"] {
        width: 100%;
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: url("../../../../assets/icons/calendar_new_icon.svg") no-repeat right 10px center;
        color: #054a68;
        font-size: 14px;
        font-weight: 500;
        font-family: "Plus Jakarta Sans";
      }

      /* Hide the calendar icon if needed */
      input[type="date"]::-webkit-calendar-picker-indicator {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
      }
    }
  }

  .requests_action_buttons {
    display: flex;
    gap: 10px;

    button {
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 500;

      &.requests_approve_button {
        background-color: #045071;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #033348;
        }

        span {
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          font-family: "Plus Jakarta Sans";
        }

        &.disabled{
          cursor: not-allowed;
          background-color: rgba(4, 80, 113, 0.65); 
        }
      }

      &.requests_reject_button {
        background-color: #f1f1f4;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: #2e3038;

        &:hover {
          background-color: #e3e4e8;
        }

        span {
          font-size: 14px;
          font-weight: 600;
          font-family: "Plus Jakarta Sans";
        }

        &.disabled{
          cursor: not-allowed;
          background-color: rgba(241, 241, 244, 0.65); 
          color: rgba(46, 48, 56, 0.65);
        }
      }
    }
  }

  .employee_requests_table_container {
    width: 100%;
    overflow-x: auto;
    background: #fff;
    overflow-y: auto;
    max-height: 50vh;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-top: 45px;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: #d2d9df;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #054a68;
      border-radius: 4px;

      &:hover {
        background: #bbb;
      }
    }

    .employee_requests_table {
      width: 100%;
      border-collapse: collapse;
      min-width: 600px;
      font-size: 160px;

      .employee_name {
        color: #033348;
        font-weight: 700;
        font-size: 16px;
        font-family: "Plus Jakarta Sans";
        text-decoration: underline;
      }

      input[type="checkbox"] {
        width: 14px;
        height: 14px;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        background-image: url("../../../../assets/icons/checkbox_unchecked.svg");
        background-size: 14px;
      }

      input[type="checkbox"]:checked {
        background-image: url("../../../../assets/icons/checkbox_checked.svg");
        background-size: 14px;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
      }

      th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: 16px;
        text-align: left;
        border-bottom: 1px solid #e5e7eb;
        z-index: 0;
      }
      td {
        padding: 16px;
        text-align: left;
        border-bottom: 1px solid #e5e7eb;
      }

      th {
        font-family: "Plus Jakarta Sans";
        font-weight: 700;
        color: #033348;
        background-color: #f9fafb;
        font-size: 16px;
      }

      td {
        color: #454754;
        font-size: 16px;
        font-weight: 500;
        font-family: "Plus Jakarta Sans";
      }

      tr {
        cursor: pointer;
        &:nth-child(even) {
          background-color: #f9fafb;
        }

        &:hover {
          background-color: #f3f4f6;
        }
      }

      .name-button {
        background: none;
        border: none;
        padding: 0;
        color: #2563eb;
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }

        &:focus {
          outline: none;
          text-decoration: underline;
        }
      }
    }
  }

  .no_requests_message {
    width: 100%;
    text-align: center;
    top: 400px;
    font-size: 1.2rem;
    color: #999;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    margin-top: 10%;
  }

  .table-cell-title{
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    color: #454754;
    font-size: 16px;   
  }
}
