$c1: #151515;
$c2: #033348;
$c3: #054a68;
$c4: #033348;
$c5: #84b5d2;
$c6: #b7bfc6;
$c7: #d2d9df;
$c8: #054a68;
$c9: #f6f8fa;
$c10: #7cc25b;
$c11: #ff8b8b;
$c12: #ffffff;
$c13: #fff5f5;
$c14: #225676;
$c15: #eef2f4;
$c16: #f9f9fb;
$c17: #efefef;
$c18: #525252;
$c19: #ffd600;
$c20: #aeaeaf;
$c21: rgba(132, 181, 210, 0.3);
$c22: #022737;
$c23: rgba(253, 147, 32, 0.8);
$c26: #8dadbb;
$c27: #d9dfe4;
$c28: rgba(253, 147, 32, 0.05);
$c29: #f1faff;
$c30: #022737;
$c31: #033348;
$c32: #b7bfc6;
$c33: #225676;
$c34: #ffd600;
$c35: #7cc25b;
$c36: #525252;
$c37: #ff8b8b;
$c38: rgba(5, 74, 104, 0.3);
$c39: rgba(3, 51, 72, 0.8);
$c40: #2E3038;
$c41: #C2F0F0;
$c42: #676B7E;
