.sort-container {
  position: relative;
  .dropdown-menu.sort-menu {
    position: absolute;
    top: 56px; 
    right: 0;
    background-color:#ffffff;
    width: 253px; 
    border: 0.5px solid #c7c9d1;
    border-radius: 4px;

    z-index: 100; 
    @media screen and (max-width: 500px) {
      right: auto;
      left: 0; 
    }

 

    .dropdown-item {
      display: flex;
      justify-content: space-between; 
      align-items: center;
      padding: 8px 12px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      color: #454754;

      
    }



    .selected-tick-mark {
      color: #454754; 
      font-size: 16px;
      font-weight: 600;
    }
  }
}
