@use '../../design/colors/Colors';

@media only screen and (min-width: 600px) {

    .main_table_header_div {
        height: 8.9418vh;
        width: 90%;
        // background-color: pink;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5.96vh;
        margin-left: 40px;


        // overflow: hidden;
        .inner_div_left_section {

            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            // justify-content: flex-start;
            .inner_div_left_title {
                // background-color: aqua;
                font-size: 20px;
                line-height: 25.2px;
                font-weight: 600;
                color: Colors.$c31;
                font-family: "Plus Jakarta Sans", sans-serif;
                // color: bisque;
            }

            .inner_div_left_subtitle {
                line-height: 20.16px;
                font-size: 16px;
                font-weight: 400;
                color: Colors.$c36;

                font-family: "Plus Jakarta Sans", sans-serif;
            }

            .inner_div_left_section_isEdit_suggestions {
                // width: 300px;
                // width: fit-content;
                width: 700px;
                display: flex;
                justify-content: space-between;

                .suggestions_1 {
                    display: flex;


                    .suggestion1_color {
                        width: 18px;
                        height: 18px;
                        background-color: Colors.$c34;
                        margin-right: 10px;
                        border-radius: 2px;


                    }
                }

                .suggestions2 {
                    display: flex;

                    .suggestion2_color {
                        width: 18px;
                        height: 18px;
                        background-color: Colors.$c37;
                        margin-right: 10px;
                        border-radius: 2px;

                    }


                }
            }


        }

        .inner_div_right_section {
            margin: auto 0px;
            // align-items: center;
            // justify-content: center;
            .edit_button {
                width: 100px;
                height: 40px;
                background-color: Colors.$c31;
                color: #fff;
                // font-family: Plus Jakarta Sans;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0px;
                cursor: pointer;
                // text-align: left;

            }
            .save_button {

                width: 100px;
                height: 35px;
                background-color: Colors.$c35;

                color: #fff;
                border: none;
                margin-right: 10px;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                text-transform: none;
                letter-spacing: 0px;
                cursor: pointer;
                
            }
            .cancel_button {
                width: 100px;
                height: 35px;
                color: Colors.$c37;
                background-color: transparent;
                border: none;
                text-transform: none;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0px;
                cursor: pointer;

            }
        }




    }

}