@use '../../design/colors/Colors';

.inner-div-filter-options {
    height: 50px;
    width: 600px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    .search_bar_container {
        position: relative;
        width: fit-content;

        .search_bar {
            height: 40px;
            width: 400px;
            padding: 1px 20px;
            border: 2px solid #ddd;
            border-radius: 25px;
            font-size: 16px;
            outline: none;
            box-shadow: 0 2px 4px rgba(3, 51, 72, 0.1);
            transition: box-shadow 0.3s ease-in-out;

            &::placeholder {
                color: #aaa;
                font-family: 'Plus Jakarta Sans', sans-serif;
            }

            &:focus {
                box-shadow: 0 4px 8px rgba(3, 51, 72, 0.2);
            }
        }

        img {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }

    .sort_by_dropdown {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        background-color: Colors.$c31;
        color: #fff;
        border: none;
        font-size: 1rem;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: #0056b3;
        }

        span {
            font-size: 11px;
            margin-right: 5px;
            line-height: 25.2px;
            font-weight: 600;
            color: #fff;
            font-family: "Plus Jakarta Sans", sans-serif;
        }

        img {
            margin-left: 0.1rem;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
        }
    }
}

.menu-item {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: #f1f1f1;
    }

}

.employee-onboarding {
    width: 90%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    margin-left:auto; 
    margin-right: auto;
    margin-bottom: 1rem;
    .employee-onboarding-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .form-group {
            display: flex;
            flex-direction: column;
            font-family: 'Plus Jakarta Sans', sans-serif;
            gap: 0.5rem;

            label {
                font-size: 1rem;
                font-weight: 600;
                font-family: 'Plus Jakarta Sans', sans-serif;
                color: #333;
            }

            input, select {
                width: 100%;
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 1rem;
                font-family: "Plus Jakarta Sans", sans-serif;
                box-sizing: border-box;
                transition: border-color 0.3s ease-in-out;

                &:focus {
                    border-color: Colors.$c31;
                    box-shadow: 0 4px 8px rgba(3, 51, 72, 0.2);
                }
            }
        }

        .checkbox-group {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 0.5rem;

            input[type="checkbox"] {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }

            label {
                font-size: 1rem;
                font-weight: 600;
                color: #333;
            }
        }

        .save_button, .cancel_button {
            width: 150px;
            padding: 0.5rem;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            transition: background-color 0.3s ease-in-out;
        }
        .btn_container{
          display: flex;
          gap: 1rem;
        }

        .save_button {
            background-color: Colors.$c31;
            color: #fff;
            border: none;

            &:hover {
                background-color: #0056b3;
            }
        }

        .cancel_button {
            background-color: #dc3545;
            color: #fff;
            border: none;

            &:hover {
                background-color: #c82333;
            }
        }

        .error {
            color: red;
            font-size: 0.875rem;
        }
    }
}

.no-matching-results {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 400px;
    font-size: 1.2rem;
    color: #999;
}

.table-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.applied-filters {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .filter-tag {
        background-color: Colors.$c31;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 0.875rem;
    }
}

.filter-item {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &.selected {
        background-color: Colors.$c31;
        color: #fff;
    }

    &:hover {
        background-color: #2c5785;
        color: #fff;
    }
}

.filter-tag-container {
    display: flex;
    align-items: center;
    gap: 10px;  
  }
  
  .filter-tag {
    position: relative; 
    display: flex;
    background-color: #e0e0e0;
    display: inline-block;
    font-family: 'Plus Jakarta Sans', sans-serif;
    gap: 10px;
    

    .remove-filter-button {
        margin-left: 15px;
        font-size:18px ;
        background: none;
        border: none;
        color: red;
        cursor: pointer;
        
      }
  }

  .table-cell-style{
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box

  }


  .multiple_choice{
    display: flex;
    flex-direction: column;
    font-family: 'Plus Jakarta Sans', sans-serif;
    gap: 0.5rem;

    label {
        font-size: 1rem;
        font-weight: 600;
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: #333;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-right:1rem;
        cursor: pointer;
    }

  }