.custom-button {
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(3, 51, 72, 0.1);
    font-size: 16px;
    color: #033348;
    cursor: pointer;
    width: 220px;
    transition: box-shadow 0.3s ease-in-out;
    
   
    &:hover {
      box-shadow: 0 4px 8px rgba(3, 51, 72, 0.2);
    }
  
    .button-icon {
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }
  }
  