.parent_component {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  .static_component {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .display_routes {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
