.payroll_header_main_container {
    font-family: "Plus Jakarta Sans";
    display: flex;
    justify-content: space-between;

    .total_payroll_amount_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: #f7f7f8;
        border: 0.5px solid #aeb0bc;
        border-radius: 8px;
        padding: 16px 24px;
        gap: 2px;

        .total_payroll_amount_title {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #2e3038;
            margin-bottom: 4px;
            line-height: 28px;
        }

        .total_payroll_amount {
            font-weight: 400;
            font-size: 46px;
            line-height: 64px;
            color: #454754;
        }

        .total_payroll_month {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #676b7e;
        }

        .total_employees_count {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #676b7e;
            margin-top: 4px;
            padding: 4px 8px;
            background-color: #e5e7eb;
            border-radius: 4px;
            display: inline-block;
        }
    }

    .payroll_action_buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        .payroll_button_container {
            display: flex;
            gap: 12px;
            margin-bottom: 8px;
        }

        .download_payslip_button,
        .process_payroll_button {
            color: #ffffff;
            background-color: #045071;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            cursor: pointer;
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 6px;
            border: 1px solid #045071;
            border-radius: 8px;
            transition: background-color 0.2s;

            &:hover {
                background-color: #003349;
            }

            &:disabled {
                background-color: #aeb0bc;
                border: 1px solid #aeb0bc;
                cursor: not-allowed;
            }
        }

        .edit_Payroll_button {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;  
            line-height: 20px;
            border: 1px solid #045071;
            background-color: transparent;
            border-radius: 8px;
            padding: 10px 18px;
            color: #045071;
            font-weight: 600;
            cursor: pointer;

            &:disabled {
                background-color: #f3f4f6;
                border: 1px solid #c7c9d1;
                color: #9ca3af;
                cursor: not-allowed;
            }
        }
    }
}
