.payroll_search_container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

    .payroll_search_icon {
        position: absolute;
        left: 0;
        padding: 12px 0px;
    }

    .payroll_search_input {
        width: 100%;
        height: auto;
        border: none;
        border-bottom: 0.5px solid #aeb0bc;
        padding: 12px 16px 12px 32px;
        font-family: "Plus Jakarta Sans";
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #8f92a3;

        &:focus {
            outline: none;
        }
        &::placeholder {
            color: #8f92a3;
            font-family: "Plus Jakarta Sans";
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.01em;
        }
    }
}
