@use '../../../design/colors/customColors' as *;

.filter-dropdown-container {
    position: relative;

    .filter-button-label,
    .filter-button-icon {
        border: 2px solid $CYAN-50;
        background-color: $WHITE;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        transition: background-color 0.2s ease;
    }

    .filter-button-label {
        padding: 12px 16px;
        border-radius: 64px;
        gap: 6px;
        font-size: 14px;
        font-weight: 600;
        color: $GREY-80;

        .filter-title-icon {
            width: 16px;
            height: 16px;
        }

        p {
            margin: 0;
            display: inline-flex;
            align-items: center;
            gap: 6px;
        }

        span {
            color: $WHITE;
            background-color: $c203;
            height: 20px;
            width: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 12px;
            font-weight: 600;
        }
    }

    .filter-button-icon {
        height: 42px;
        width: 42px;
        border-radius: 50%;
        justify-content: center;
        position: relative;

        .filter-icon {
            width: 18px;
            height: 18px;
        }

        .active-count-badge {
            color: $WHITE;
            background-color: $c203;
            min-width: 18px;
            height: 18px;
            padding: 0 4px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 999px;
            font-size: 10px;
            font-weight: 600;
            line-height: 1;
            position: absolute;
            top: -6px;
            right: -6px;
        }
    }

    .dropdown-arrow-icon {
        width: 12px;
        height: 12px;
        margin-left: 5px;
        transition: transform 0.2s ease-in-out;

        &.rotated {
            transform: rotate(180deg);
        }
    }

    &.active {
        .filter-button-label,
        .filter-button-icon {
            background-color: $CYAN-20;
        }
    }

    &.open {
        .filter-button-label,
        .filter-button-icon {
            background-color: $CYAN-20;
        }
    }

    .dropdown-menu {
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        z-index: 100;
        min-width: 250px;
        background-color: $WHITE;
        border: 0.5px solid $GREY-30;
        border-radius: 4px;
        padding: 8px 0;

        .search-input-container {
            border: none;
            border-bottom: 1px solid $GREY-40;
            display: flex;
            align-items: center;
            padding: 8px 12px;
            gap: 8px;

            .dropdown-search-input {
                outline: none;
                border: none;
                font-size: 12px;
                font-weight: 600;
                color: $GREY-50;
                caret-color: $GREY-50;

                &::placeholder {
                    color: $GREY-50;
                    font-family: "Plus Jakarta Sans", sans-serif;
                }
            }
        }

        .no-results {
            color: $c203;
            font-size: 14px;
            text-align: center;
            font-weight: 600;
            padding: 12px 16px;
        }

        .dropdown-item {
            padding: 12px 16px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $c203;
            font-size: 14px;
            font-weight: 600;

            &:hover {
                background-color: $GREY-10;
            }
        }
    }
}