@use "../colors/Colors";
.text1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  color: Colors.$c12;
  font-size: 2.57vh;
  letter-spacing: 1.5;
}

.text2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  color: Colors.$c12;
  font-size: 1.9vh;
  letter-spacing: 1.5;
}

.text3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  color: Colors.$c12;
  font-size: 1.5vh;
  letter-spacing: 1.5;
}

.text4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  color: Colors.$c12;
  font-size: 1.2vh;
  letter-spacing: 1.5;
}

.text5 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: Colors.$c12;
  font-size: 1.07vh;
  letter-spacing: 1.5;
}

.text6 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: Colors.$c2;
  font-size: 1.92vh;
  letter-spacing: 1.5;
}

.text7 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: Colors.$c2;
  font-size: 17px;
  letter-spacing: 1.5;
}

.text8 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  color: Colors.$c2;
  font-size: 1.71vh;
  letter-spacing: 1.5;
}
.text9 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  color: Colors.$c2;
  font-size: 1.28vh;
}

.text10 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  color: Colors.$c1;
  font-size: 1.5vh;
  letter-spacing: 1.5;
}

.text11 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: Colors.$c1;
  font-size: 1.5vh;
  letter-spacing: 1.5;
}

.text12 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  color: Colors.$c5;
  font-size: 1.7vh;
  letter-spacing: 1.5;
}

.text13 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  color: Colors.$c6;
  font-size: 1.5vh;
}

.text14 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: Colors.$c6;
  font-size: 1.28vh;
}
.text15 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: Colors.$c6;
  font-size: 1.07vh;
}
.text16 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: Colors.$c2;
  font-size: 1.28vh;
  text-decoration: underline;
}
.text17 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  color: Colors.$c11;
  font-size: 1.5vh;
}
.text17 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  color: Colors.$c2;
  font-size: 1.5vh;
}
.text18 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  color: Colors.$c4;
  font-size: 1.28vh;
}
.text18 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: Colors.$c3;
  font-size: 1.07vh;
}
.text19 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: Colors.$c3;
  font-size: 1.92vh;
}
.text20 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: Colors.$c5;
  font-size: 1.71vh;
}
.text21 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  color: Colors.$c1;
  font-size: 1.5vh;
}
.text22 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: Colors.$c3;
  font-size: 1.71vh;
}
.text23 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  color: Colors.$c3;
  font-size: 1.28vh;
}
.text24 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: Colors.$c2;
  font-size: 1.5vh;
}
.text25 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: Colors.$c2;
  font-size: 1.5vh;
}
.text26 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: Colors.$c3;
  font-size: 1.92vh;
}
.text27 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: Colors.$c3;
  font-size: 1.92vh;
}
.text117{
  font-family:"Plus Jakarta Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
color: Colors.$c18;

}
.text127{
font-family:"Plus Jakarta Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
color: Colors.$c37;

}

.text141{
  font-family:"Plus Jakarta Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: Colors.$c14;
}


.text105{
  font-family:"Plus Jakarta Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: Colors.$c2;
}


