.attendance-log {
  width: 100%;
  border-radius: 8px;
  background-color: transparent;
  font-family: "Plus Jakarta Sans";
  padding-bottom: 1.5rem;

  .log-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 0px 0px;

    p {
      font-size: 16px;
      font-weight: 600;
      color: #2e3038;
      line-height: 24px;
      letter-spacing: 0.01em;
    }

    .navigation-controls {
      display: flex;
      align-items: center;
      gap: 10px;

      .nav-button {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;

        &:hover {
          background-color: #f5f5f5;
          border-radius: 50%;
        }

        img {
          width: 16px;
          height: 16px;
        }
      }

      span {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .filter-controls {
    padding: 5px 20px 12px 0px;
    //   border-bottom: 1px solid #e0e0e0;

    .filter-checkbox {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      color: #555;
      cursor: pointer;

      input[type="checkbox"] {
        cursor: pointer;
        appearance: none;
        width: 16px;
        height: 16px;
        border: 1px solid #454754;
        border-radius: 4px;
        background-color: #fff;
        position: relative;

        &:checked {
          background: url("../../../../assets/icons/checkbox_leave_management.svg") no-repeat center center;
          background-size: contain;
          border: none;
        }
      }

      span {
        color: #454754;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.01em;
      }
    }
  }

  .log-table {
    width: 100%;
    overflow-x: auto;
    border: 0.5px solid #aeb0bc;
    border-radius: 8px;

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #e0e0e0;
        font-size: 14px;
      }

      th {
        font-weight: 600;
        color: #555;
        background-color: #f9f9f9;
      }

      td {
        color: #333;
      }
      tr:nth-child(even) {
        background-color: #f7f7f8;
      }

      .status-badge {
        display: inline-block;
        padding: 4px 10px;
        border-radius: 12px;
        font-size: 12px;
        font-weight: 500;

        &.working {
          background-color: #ebfaf3;
          color: #2e3038;
          border: 1px solid #1eab69;
          font-weight: 500;
        }

        &.half-day {
          background-color: #fdfbe7;
          color: #2e3038;
          border: 1px solid #c6b410;
          font-weight: 500;
        }

        &.on-leave {
          background-color: #fcefe9;
          color: #2e3038;
          border: 1px solid #d9642a;
          font-weight: 500;
        }

        &.weekend {
          background-color: #f7f7f8;
          color: #8f92a3;
          border: 1px solid #8f92a3;
          font-weight: 500;
        }

        &.not-set {
          background-color: #f7f7f8;
          color: #8f92a3;
          border: 1px solid #8f92a3;
          font-weight: 500;
        }
      }

      .edit-button {
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: transparent;
        border: none;
        border-radius: 4px;
        padding: 5px 10px;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          text-decoration: underline solid #045071 1px;
          text-underline-offset: 2px;
        }

        img {
          width: 12px;
          height: 12px;
        }

        span {
          font-size: 12px;
          color: #045071;
          font-weight: 700;
        }
      }
    }
  }

  .no-data-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;

    p {
      margin: 0;

      &:first-child {
        font-size: 1.2rem;
        font-weight: 500;
        color: #666;
      }
    }

    .no-data-subtext {
      margin-top: 0.5rem;
      font-size: 0.9rem;
      color: #888;
    }
  }
}
