// .attendance-calendar {
//   display: flex;
//   font-family:
//     system-ui,
//     -apple-system,
//     BlinkMacSystemFont,
//     "Segoe UI",
//     sans-serif;
//   gap: 1rem;
//   position: relative;
//   justify-content: space-around;
//   align-items: flex-start;

//   @media (max-width: 768px) {
//     flex-direction: column;
//   }
// }

// .calendar-container {
//   flex: 1;
//   display: flex;
//   gap: 2rem;
//   align-items: flex-start;
//   font-family: "Plus Jakarta Sans", sans-serif;
//   position: relative;
//   max-width: 470px;

//   .calendar-inner-container {
//     flex: 1;
//     background: #f9fafb;
//     border-radius: 16px;
//     padding: 1.5rem;
//     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
//   }
// }

// .calendar-header {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 1.5rem;

//   .month-navigation,
//   .year-navigation {
//     display: flex;
//     align-items: center;

//     button {
//       background: none;
//       border: none;
//       cursor: pointer;
//       display: flex;
//       align-items: center;
//       justify-content: center;

//       &:hover {
//         opacity: 0.8;
//       }
//     }

//     .custom-dropdown {
//       position: relative;
//       margin: 0 0.5rem;

//       .dropdown-selector {
//         cursor: pointer;
//         padding: 0.5rem 0.75rem;
//         font-family: "Plus Jakarta Sans", sans-serif;
//         font-size: 14px;
//         font-weight: 600;
//         color: #676b7e;
//         display: flex;
//         align-items: center;
//         border-radius: 4px;

//         &:hover {
//           background-color: #f3f4f6;
//         }

//         .dropdown-arrow {
//           margin-left: 0.5rem;
//           font-size: 10px;
//         }
//       }

//       .dropdown-menu {
//         position: absolute;
//         top: 100%;
//         left: 0;
//         z-index: 100;
//         background-color: white;
//         border-radius: 8px;
//         box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
//         padding: 0.5rem 0;
//         min-width: 120px;
//         max-height: 300px;
//         overflow-y: auto;

//         &.year-menu {
//           max-height: 250px;
//         }

//         .dropdown-item {
//           padding: 0.5rem 1rem;
//           cursor: pointer;

//           &:hover {
//             background-color: #f3f4f6;
//           }

//           &.active {
//             background-color: #e5e7eb;
//             font-weight: 600;
//             color: #1e40af;
//           }
//         }
//       }
//     }
//   }
// }

// .calendar-grid {
//   display: grid;
//   grid-template-columns: repeat(7, 1fr);
//   gap: 0.25rem;

//   .weekday-header {
//     padding: 0.5rem;
//     text-align: center;
//     font-weight: 600;
//     color: #4b5563;
//   }

//   .calendar-day {
//     height: 2.5rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 9999px;
//     cursor: pointer;
//     transition: background-color 0.2s;
//     position: relative;

//     &:hover {
//       background-color: #066893;
//     }

//     &.prev-month,
//     &.next-month {
//       color: #9ca3af;
//     }

//     &.working {
//       background-color: #a9eacc;
//     }

//     &.half-day {
//       background-color: #f2e25a;
//     }

//     &.on-leave {
//       background-color: #dd787f;
//     }

//     &.today {
//       border: 2px solid #6b7280;
//     }
//     &.selected {
//       background-color: #045071;
//       color: white;
//     }
//   }
// }

// .calendar-legend {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   gap: 8px;

//   .legend-item {
//     display: flex;
//     align-items: center;

//     .color-dot {
//       width: 1rem;
//       height: 1rem;
//       border-radius: 50%;
//       margin-right: 0.5rem;
//     }

//     .legend-text {
//       font-family: "Plus Jakarta Sans", sans-serif;
//       font-size: 12px;
//       font-weight: 600;
//       color: #454754;
//       line-height: 20px;
//       letter-spacing: 0.01em;
//     }

//     &.working .color-dot {
//       background-color: #a9eacc;
//     }

//     &.half-day .color-dot {
//       background-color: #f2e25a;
//     }

//     &.on-leave .color-dot {
//       background-color: #dd787f;
//     }

//     &.today .color-dot {
//       border: 2px solid #6b7280;
//     }
//   }
// }

// .modal {
//   position: absolute;
//   z-index: 1000;

//   &.click-modal {
//     top: 90px;
//     left: 380px;
//     width: 300px;
//     height: 300px;
//     overflow: auto;
//     background-color: #ffffff;
//     box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
//     border-radius: 8px;
//     padding: 0.8rem;
//   }

//   .modal-content {
//     border-radius: 8px;
//     width: 100%;
//     max-width: 500px;

//     .click-modal {
//       max-width: 320px;
//     }

//     .edit-attendance-modal & {
//       width: 800px;
//       margin: 1rem;
//     }
//   }

//   .modal-header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-bottom: 1rem;

//     .status-modal-title {
//       font-family: "Plus Jakarta Sans", sans-serif;
//       font-size: 14px;
//       font-weight: 700;
//       line-height: 20px;
//       letter-spacing: 0.01em;
//       border-bottom: 2px solid #2e3038;
//       padding-bottom: 8px;
//       color: #2e3038;
//     }

//     .status-modal-actions {
//       display: flex;
//       align-items: center;
//       gap: 8px;

//       .status-edit-button {
//         display: flex;
//         align-items: center;
//         gap: 0.25rem;
//         background-color: #045071;
//         color: white;
//         border: none;
//         border-radius: 8px;
//         cursor: pointer;
//         font-size: 14px;
//         font-weight: 500;
//         padding: 0px 6px;

//         span {
//           font-family: "Plus Jakarta Sans", sans-serif;
//           font-size: 14px;
//           font-weight: 600;
//           line-height: 20px;
//           letter-spacing: 0.01em;
//           padding: 6px;
//         }
//       }

//       .status-close-btn {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         padding: 9px;
//         background: none;
//         border: none;
//         cursor: pointer;
//         color: #6b7280;
//         font-size: 16px;
//         border-radius: 8px;
//         background-color: #f3f4f6;
//       }
//     }
//   }

//   .modal-body {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: start;

//     .attendance-status {
//       margin-bottom: 1rem;
//       display: flex;
//       flex-direction: column;
//       align-items: start;
//       gap: 8px;

//       .status-label {
//         font-family: "Plus Jakarta Sans", sans-serif;
//         font-size: 12px;
//         font-weight: 700;
//         line-height: 20px;
//         letter-spacing: 0.01em;
//         color: #454754;
//       }

//       .status-badge {
//         padding: 0.25rem 0.5rem;
//         border-radius: 9999px;
//         font-size: 0.75rem;
//         font-weight: 500;

//         &.working {
//           background-color: #ebfaf3;
//           color: #2e3038;
//           border: 1px solid #1eab69;
//           font-weight: 500;
//         }

//         &.half-day {
//           background-color: #fdfbe7;
//           color: #2e3038;
//           border: 1px solid #c6b410;
//           font-weight: 500;
//         }

//         &.on-leave {
//           background-color: #fcefe9;
//           color: #2e3038;
//           border: 1px solid #d9642a;
//           font-weight: 500;
//         }

//         &.not-set {
//           background-color: #f7f7f8;
//           color: #8f92a3;
//           border: 1px solid #8f92a3;
//           font-weight: 500;
//         }
//       }
//     }

//     .time-details {
//       display: grid;
//       grid-template-columns: 1fr 1fr;
//       gap: 1.5rem;
//       margin-bottom: 1rem;
//       text-align: left;

//       .check-out,
//       .check-in {
//         .check-in-out-title {
//           font-family: "Plus Jakarta Sans", sans-serif;
//           font-size: 14px;
//           font-weight: 700;
//           line-height: 20px;
//           letter-spacing: 0.01em;
//           color: #454754;
//         }

//         .check-in-out-time {
//           font-family: "Plus Jakarta Sans", sans-serif;
//           font-size: 14px;
//           font-weight: 500;
//           line-height: 20px;
//           letter-spacing: 0.01em;
//           color: #8f92a3;
//         }
//       }
//     }

//     .leave-details {
//       margin-bottom: 1rem;
//     }

//     .remarks {
//       display: flex;
//       flex-direction: column;
//       align-items: start;
//       justify-content: center;
//       text-align: left;
//       margin-bottom: 1rem;

//       .remarks-title {
//         font-family: "Plus Jakarta Sans", sans-serif;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 20px;
//         letter-spacing: 0.01em;
//         color: #454754;
//       }

//       .remarks-text {
//         font-family: "Plus Jakarta Sans", sans-serif;
//         font-size: 14px;
//         font-weight: 500;
//         line-height: 20px;
//         letter-spacing: 0.01em;
//         color: #8f92a3;
//       }
//     }

//     .leave-details {
//       display: flex;
//       flex-direction: column;
//       align-items: start;
//       justify-content: center;
//       text-align: left;
//       .leave-type-title {
//         font-family: "Plus Jakarta Sans", sans-serif;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 20px;
//         letter-spacing: 0.01em;
//         color: #454754;
//       }
//       .leave-type-text {
//         font-family: "Plus Jakarta Sans", sans-serif;
//         font-size: 14px;
//         font-weight: 500;
//         line-height: 20px;
//         letter-spacing: 0.01em;
//         color: #8f92a3;
//       }
//     }
//   }
// }

// .proof-details {
//   display: flex;
//   flex-direction: column;
//   align-items: start;
//   justify-content: center;
//   text-align: left;

//   .proof-title {
//     font-family: "Plus Jakarta Sans", sans-serif;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 20px;
//     letter-spacing: 0.01em;
//     color: #454754;
//     margin-bottom: 4px;
//   }

//   .view-proof-link {
//     display: inline-flex;
//     align-items: center;
//     gap: 6px;
//     background: none;
//     border: none;
//     padding: 0;
//     cursor: pointer;
//     font-family: "Plus Jakarta Sans", sans-serif;
//     font-size: 14px;
//     font-weight: 600;
//     line-height: 24px;
//     color: #045071;
//     border-bottom: 2px solid #045071;
//     padding-bottom: 4px;

//     svg {
//       flex-shrink: 0;
//     }
//   }
// }



@use '../../design/colors/customColors' as *;

.attendance-calendar {
  display: flex;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  gap: 1rem;
  position: relative;
  justify-content: space-around;
  align-items: flex-start;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.calendar-container {
  flex: 1;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  font-family: "Plus Jakarta Sans", sans-serif;
  position: relative;
  max-width: 470px;

  .calendar-inner-container {
    flex: 1;
    background: $c154;
    border-radius: 16px;
    padding: 1.5rem;
    box-shadow: 0 1px 3px $c69;
  }
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  .month-navigation,
  .year-navigation {
    display: flex;
    align-items: center;

    button {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 0.8;
      }
    }

    .custom-dropdown {
      position: relative;
      margin: 0 0.5rem;

      .dropdown-selector {
        cursor: pointer;
        padding: 0.5rem 0.75rem;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: $GREY-60;
        display: flex;
        align-items: center;
        border-radius: 4px;

        &:hover {
          background-color: $c94;
        }

        .dropdown-arrow {
          margin-left: 0.5rem;
          font-size: 10px;
        }
      }

      .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
        background-color: $WHITE;
        border-radius: 8px;
        box-shadow: 0 4px 12px $c118;
        padding: 0.5rem 0;
        min-width: 120px;
        max-height: 300px;
        overflow-y: auto;

        &.year-menu {
          max-height: 250px;
        }

        .dropdown-item {
          padding: 0.5rem 1rem;
          cursor: pointer;

          &:hover {
            background-color: $c94;
          }

          &.active {
            background-color: $c95;
            font-weight: 600;
            color: $c192;
          }
        }
      }
    }
  }
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.25rem;

  .weekday-header {
    padding: 0.5rem;
    text-align: center;
    font-weight: 600;
    color: $c139;
  }

  .calendar-day {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.2s;
    position: relative;

    &:hover {
      background-color: $PRUSSIAN-60;
    }

    &.prev-month,
    &.next-month {
      color: $c98;
    }

    &.working {
      background-color: $GREEN-30;
    }

    &.half-day {
      background-color: $YELLOW-40;
    }

    &.on-leave {
      background-color: $RED-40;
    }

    &.today {
      border: 2px solid $c87;
    }
    &.selected {
      background-color: $PRUSSIAN-70;
      color: $WHITE;
    }
  }
}

.calendar-legend {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;

  .legend-item {
    display: flex;
    align-items: center;

    .color-dot {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      margin-right: 0.5rem;
    }

    .legend-text {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: $GREY-70;
      line-height: 20px;
      letter-spacing: 0.01em;
    }

    &.working .color-dot {
      background-color: $GREEN-30;
    }

    &.half-day .color-dot {
      background-color: $YELLOW-40;
    }

    &.on-leave .color-dot {
      background-color: $RED-40;
    }

    &.today .color-dot {
      border: 2px solid $c87;
    }
  }
}

.modal {
  position: absolute;
  z-index: 1000;

  &.click-modal {
    top: 90px;
    left: 380px;
    width: 320px;
    height: auto;
    overflow: auto;
    background-color: $WHITE;
    box-shadow: 0px 4px 12px $c118;
    border-radius: 8px;
    padding: 0.8rem;
  }

  .modal-content {
    border-radius: 8px;
    width: 100%;
    max-width: 500px;

    .click-modal {
      max-width: 320px;
    }

    .edit-attendance-modal & {
      width: 800px;
      margin: 1rem;
    }
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .status-modal-title {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.01em;
      border-bottom: 2px solid $GREY-80;
      padding-bottom: 8px;
      color: $GREY-80;
    }

    .status-modal-actions {
      display: flex;
      align-items: center;
      gap: 8px;

      .status-edit-button {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        background-color: $PRUSSIAN-70;
        color: $WHITE;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        padding: 0px 6px;

        span {
          font-family: "Plus Jakarta Sans", sans-serif;
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 0.01em;
          padding: 6px;
        }
      }

      .status-close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px;
        background: none;
        border: none;
        cursor: pointer;
        color: $c87;
        font-size: 16px;
        border-radius: 8px;
        background-color: $c94;
      }
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .attendance-status {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 8px;

      .status-label {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: $GREY-70;
      }

      .status-badge {
        padding: 0.25rem 0.5rem;
        border-radius: 9999px;
        font-size: 0.75rem;
        font-weight: 500;

        &.working {
          background-color: $GREEN-10;
          color: $GREY-80;
          border: 1px solid $GREEN-70;
          font-weight: 500;
        }

        &.half-day {
          background-color: $YELLOW-10;
          color: $GREY-80;
          border: 1px solid $YELLOW-70;
          font-weight: 500;
        }

        &.on-leave {
          background-color: $ORANGE-10;
          color: $GREY-80;
          border: 1px solid $ORANGE-60;
          font-weight: 500;
        }

        &.not-set {
          background-color: $GREY-00;
          color: $GREY-50;
          border: 1px solid $GREY-50;
          font-weight: 500;
        }
      }
    }

    .time-details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
      margin-bottom: 1rem;
      text-align: left;

      .check-out,
      .check-in {
        .check-in-out-title {
          font-family: "Plus Jakarta Sans", sans-serif;
          font-size: 14px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0.01em;
          color: $GREY-70;
        }

        .check-in-out-time {
          font-family: "Plus Jakarta Sans", sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0.01em;
          color: $GREY-50;
        }
      }
    }

    .leave-details {
      margin-bottom: 1rem;
    }

    .remarks {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      text-align: left;
      margin-bottom: 1rem;

      .remarks-title {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: $GREY-70;
      }

      .remarks-text {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: $GREY-50;
      }
    }

    .leave-details {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      text-align: left;
      .leave-type-title {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: $GREY-70;
      }
      .leave-type-text {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: $GREY-50;
      }
    }
  }
}

.proof-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: left;

  .proof-title {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: $GREY-70;
    margin-bottom: 4px;
  }

  .view-proof-link {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: $PRUSSIAN-70;
    border-bottom: 2px solid $PRUSSIAN-70;
    padding-bottom: 4px;

    svg {
      flex-shrink: 0;
    }
  }
}