@use '../../design/colors/customColors' as *;

.attendance-log {
  width: 100%;
  border-radius: 8px;
  background-color: transparent;
  font-family: "Plus Jakarta Sans";
  padding-bottom: 1.5rem;

  .log-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 0px 0px;

    p {
      font-size: 16px;
      font-weight: 600;
      color: $GREY-80;
      line-height: 24px;
      letter-spacing: 0.01em;
    }

    .navigation-controls {
      display: flex;
      align-items: center;
      gap: 10px;

      .nav-button {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;

        &:hover {
          background-color: $c167;
          border-radius: 50%;
        }

        img {
          width: 16px;
          height: 16px;
        }
      }

      span {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .filter-controls {
    padding: 5px 20px 12px 0px;
    //   border-bottom: 1px solid $c66;

    .filter-checkbox {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      color: $c92;
      cursor: pointer;

      input[type="checkbox"] {
        cursor: pointer;
        appearance: none;
        width: 16px;
        height: 16px;
        border: 1px solid $GREY-70;
        border-radius: 4px;
        background-color: $WHITE;
        position: relative;

        &:checked {
          background: url("../../../../assets/icons/checkbox_leave_management.svg") no-repeat center center;
          background-size: contain;
          border: none;
        }
      }

      span {
        color: $GREY-70;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.01em;
      }
    }
  }

  .log-table {
    width: 100%;
    overflow-x: auto;
    border: 0.5px solid $GREY-40;
    border-radius: 8px;

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid $c66;
        font-size: 14px;
      }

      th {
        font-weight: 600;
        color: $c92;
        background-color: $c93;
      }

      td {
        color: $c75;
      }
      tr:nth-child(even) {
        background-color: $GREY-00;
      }

      .status-badge {
        display: inline-block;
        padding: 4px 10px;
        border-radius: 12px;
        font-size: 12px;
        font-weight: 500;

        &.working {
          background-color: $GREEN-10;
          color: $GREY-80;
          border: 1px solid $GREEN-70;
          font-weight: 500;
        }

        &.half-day {
          background-color: $YELLOW-10;
          color: $GREY-80;
          border: 1px solid $YELLOW-70;
          font-weight: 500;
        }

        &.on-leave {
          background-color: $ORANGE-10;
          color: $GREY-80;
          border: 1px solid $ORANGE-60;
          font-weight: 500;
        }

        &.weekend {
          background-color: $GREY-00;
          color: $GREY-50;
          border: 1px solid $GREY-50;
          font-weight: 500;
        }

        &.not-set {
          background-color: $GREY-00;
          color: $GREY-50;
          border: 1px solid $GREY-50;
          font-weight: 500;
        }
      }

      .edit-button {
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: transparent;
        border: none;
        border-radius: 4px;
        padding: 5px 10px;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          text-decoration: underline solid $PRUSSIAN-70 1px;
          text-underline-offset: 2px;
        }

        img {
          width: 12px;
          height: 12px;
        }

        span {
          font-size: 12px;
          color: $PRUSSIAN-70;
          font-weight: 700;
        }
      }
    }
  }

  .no-data-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    text-align: center;
    background-color: $c93;
    border-radius: 8px;

    p {
      margin: 0;

      &:first-child {
        font-size: 1.2rem;
        font-weight: 500;
        color: $c84;
      }
    }

    .no-data-subtext {
      margin-top: 0.5rem;
      font-size: 0.9rem;
      color: $c201;
    }
  }
}