
.leave-application {
  &-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.2s ease-out;
  }

  &-container {
    font-family: "Plus Jakarta Sans";
    color: #333;
    width: 100%;
    max-width: 500px;
    animation: scaleIn 0.2s ease-out;

    .leave-modal {
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
      border: 1px solid #e0e0e0;

      &-header {
        padding: 16px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          color: #2e3038;
          font-size: 18px;
          font-weight: 700;
          line-height: 28px;
          letter-spacing: 0.01em;
          padding-bottom: 8px;
          border-bottom: 2px solid #2e3038;
        }

        .application-close-button {
          background: #f1f1f4;
          border: none;
          font-size: 24px;
          cursor: pointer;
          color: #666;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          transition: background-color 0.2s;

          &:hover {
            background-color: #f0f0f0;
          }
        }
      }

      &-body {
        padding: 20px;
        max-height: calc(100vh - 200px);
        overflow-y: auto;

        .form-group {
          margin-bottom: 20px;

          label {
            display: block;
            margin-bottom: 8px;
            font-weight: 600;
            font-size: 14px;
            color: #2e3038;
            letter-spacing: 0.01em;
          }

          &.checkbox {
            display: flex;
            align-items: center;
            gap: 8px;

            input[type="checkbox"] {
              cursor: pointer;
              appearance: none;
              width: 16px;
              height: 16px;
              border: 1px solid #454754;
              border-radius: 4px;
              background-color: #fff;
              position: relative;

              &:checked {
                background: url("../../../../assets/icons/checkbox_leave_management.svg") no-repeat center center;
                background-size: contain;
                border: none;
              }
            }

            label {
              margin: 0;
              font-weight: 600;
              cursor: pointer;
              color: #2e3038;
              letter-spacing: 0.01em;
            }
          }

          .error {
            color: #f5222d;
            font-size: 12px;
            margin-top: 4px;
            display: block;
          }
        }

        .file_upload_container {
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          // Add to your LeaveApplication.scss
            .custom_file_Upload {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              border: 0.5px solid #AEB0BC;
              padding: 8px 12px;
              border-radius: 8px;

              &.clickable {
                cursor: pointer;
              }
              
              .uploaded-file-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
              }

              .file-icon-container{
                display: flex;
                align-items: center;
                gap: 8px;

                .file-icon {
                  width: 24px;
                  height: 24px;
                  background-size: contain;
                  background-repeat: no-repeat;
                }

                .file-name {
                  font-size: 14px;
                  color: #454754;
                  font-weight: 600;
                  flex-grow: 1;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }

              .file-name{
                font-size: 14px;
                color: #454754;
                font-weight: 600;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              .file-meta{
                color:#676B7E;
                font-size: 12px;
                font-weight: 500;
              }

              .delete-file-btn{
                background: none;
                border: none;
                color: #f5222d;
                cursor: pointer;
                font-size: 14px;
                padding: 0;
                margin-left: 10px;
                display: flex;
                align-items: center;
              }
            }
            .file-upload-label {
              display: flex;
              align-items: center;
              justify-content: center;
              color: #454754;
              font-size: 14px;
              cursor: pointer;
              transition: all 0.2s;

              .upload-icon{
                width: 20px;
                height: 20px;
                margin-right: 8px;
                background-size: contain;
                background-repeat: no-repeat;
              }
            }

            .file-upload-label:hover {
              border: none;
              background: none;
              cursor: pointer;
              text-decoration: underline;
              color: #066893;

            }

            .file-info {
              margin-top: 6px;
              font-size: 13px;
              color: #066893;
            }
        }



        .leave-types {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          margin-bottom: 10px;

          .leave-type-button {
            padding: 6px 16px;
            background-color: white;
            border: 1px solid #d1d1d1;
            border-radius: 20px;
            cursor: pointer;
            font-size: 14px;
            transition: all 0.2s;
            outline: none;

            &:hover {
              border-color: #005a8c;
            }

            &.selected {
              background-color: #005a8c;
              color: white;
              border-color: #005a8c;
            }
          }
        }

        .no-leaves-message {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          border: 0.5px solid #dd787f;
          border-radius: 4px;
          color: #dd787f;
        }

        .profile-update-note{
          font-size: 0.9rem;
          color: #64748b;
          text-decoration: none;

          .update-link {
            color: #045071;
            text-decoration: none;
            font-weight: 600;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .date-container {
          display: flex;
          gap: 20px;

          @media (max-width: 480px) {
            flex-direction: column;
            gap: 15px;
          }

          .form-group {
            flex: 1;

            .date-input {
              position: relative;

              input {
                width: 100%;
                padding: 10px;
                border: 1px solid #d1d1d1;
                border-radius: 4px;
                font-size: 14px;
                background-color: white;
                font-family: "Plus Jakarta Sans";
              }
            }
          }
        }

        .validation-messages{
          margin-bottom: 16px;
          display: flex;
          flex-direction: column;
          gap: 8px;
          color: #e90f1e;
        }

        input[type="text"] {
          width: 100%;
          padding: 10px;
          border: 1px solid #d1d1d1;
          border-radius: 4px;
          resize: vertical;
          font-family: inherit;
          font-size: 14px;
          color: #454754;
          font-weight: 600;

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: #b0b0b0;
            font-weight: 500;
          }
        }

        .application-status {
          padding: 15px;
          border-radius: 8px;
          margin-bottom: 20px;

          &.info {
            background-color: #c3e1ef;
          }

          &.warning {
            background-color: #f0c2c5;
          }

          .status-title {
            font-weight: 600;
            margin: 0 0 5px 0;
          }

          .status-details {
            margin: 0;
            font-size: 13px;
            color: #676b7e;
            font-weight: 500;
          }

          .status-warning {
            color: #93252c;
            margin: 5px 0 0 0;
            font-size: 13px;
            font-weight: 600;
          }

          .status-info{
            color: #045071;
            margin: 5px 0 0 0;
            font-size: 13px;
            font-weight: 600;
          }
        }

        .form-actions {
          display: flex;
          justify-content: flex-end;
          gap: 10px;
          margin-top: 20px;

          .cancel-button {
            padding: 12px 16px;
            border: 2px solid #045071;
            background-color: white;
            color: #045071;
            border-radius: 8px;
            cursor: pointer;
            font-size: 14px;
            transition: all 0.2s;
            font-weight: 600;

            &:hover {
              border-color: #005a8c;
              color: #005a8c;
            }
          }

          .apply-button {
            padding: 12px 16px;
            border: none;
            background-color: #045071;
            color: white;
            border-radius: 8px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.2s;
            font-weight: 600;

            &:hover {
              background-color: #00486f;
            }

            &:disabled {
              background-color: #ccc;
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
