@use '../../design/colors/customColors' as *;

.leave-application {
  &-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $c131;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.2s ease-out;
  }

  &-container {
    font-family: "Plus Jakarta Sans";
    color: $c75;
    width: 100%;
    max-width: 500px;
    animation: scaleIn 0.2s ease-out;

    .leave-modal {
      background-color: $WHITE;
      border-radius: 8px;
      box-shadow: 0 4px 20px $c112;
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
      border: 1px solid $c66;

      &-header {
        padding: 16px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          color: $GREY-80;
          font-size: 18px;
          font-weight: 700;
          line-height: 28px;
          letter-spacing: 0.01em;
          padding-bottom: 8px;
          border-bottom: 2px solid $GREY-80;
        }

        .application-close-button {
          background: $GREY-10;
          border: none;
          font-size: 24px;
          cursor: pointer;
          color: $c84;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          transition: background-color 0.2s;

          &:hover {
            background-color: $c128;
          }
        }
      }

      &-body {
        padding: 20px;
        max-height: calc(100vh - 200px);
        overflow-y: auto;

        .form-group {
          margin-bottom: 20px;

          label {
            display: block;
            margin-bottom: 8px;
            font-weight: 600;
            font-size: 14px;
            color: $GREY-80;
            letter-spacing: 0.01em;
          }

          &.checkbox {
            display: flex;
            align-items: center;
            gap: 8px;

            input[type="checkbox"] {
              cursor: pointer;
              appearance: none;
              width: 16px;
              height: 16px;
              border: 1px solid $GREY-70;
              border-radius: 4px;
              background-color: $WHITE;
              position: relative;

              &:checked {
                background: url("../../../../assets/icons/checkbox_leave_management.svg") no-repeat center center;
                background-size: contain;
                border: none;
              }
            }

            label {
              margin: 0;
              font-weight: 600;
              cursor: pointer;
              color: $GREY-80;
              letter-spacing: 0.01em;
            }
          }

          .error {
            color: $c206;
            font-size: 12px;
            margin-top: 4px;
            display: block;
          }
        }

        .file_upload_container {
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          // Add to your LeaveApplication.scss
            .custom_file_Upload {
              display: flex;
              flex-direction: column;
              width: 100%;
              border: 0.5px solid $GREY-40;
              padding: 8px 12px;
              border-radius: 8px;
              gap: 8px;

              &.clickable {
                cursor: pointer;
                flex-direction: row;
                align-items: center;
                justify-content: center;
              }
              
              .uploaded-file-row {
                display: grid;
                grid-template-columns: 24px 1fr auto auto;
                align-items: center;
                gap: 8px;
                width: 100%;
                padding: 4px 0;

                &:not(:last-child) {
                  border-bottom: 1px solid $c128;
                  padding-bottom: 8px;
                }
              }

              .file-icon-container{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                flex-shrink: 0;

                .file-type-icon {
                  width: 20px;
                  height: 20px;
                }
              }

              .file-name{
                font-size: 14px;
                color: $GREY-70;
                font-weight: 600;
                overflow: hidden;
                text-overflow: ellipsis;
                $WHITE-space: nowrap;
                min-width: 0;
                background: none;
                border: none;
                padding: 0;
                text-align: left;
                cursor: pointer;
                text-decoration: underline;

                &:disabled {
                  cursor: default;
                  text-decoration: none;
                }
              }

              .file-meta{
                color:$GREY-60;
                font-size: 12px;
                font-weight: 500;
                $WHITE-space: nowrap;
                text-align: right;
              }

              .delete-file-btn{
                background: none;
                border: none;
                color: $c206;
                cursor: pointer;
                font-size: 14px;
                padding: 0;
                display: flex;
                align-items: center;
                flex-shrink: 0;
              }
            }
            .file-upload-label {
              display: flex;
              align-items: center;
              justify-content: center;
              color: $GREY-70;
              font-size: 14px;
              cursor: pointer;
              transition: all 0.2s;

              .upload-icon{
                width: 20px;
                height: 20px;
                margin-right: 8px;
                background-size: contain;
                background-repeat: no-repeat;
              }
            }

            .file-upload-label:hover {
              border: none;
              background: none;
              cursor: pointer;
              text-decoration: underline;
              color: $PRUSSIAN-60;

            }

            .file-info {
              margin-top: 6px;
              font-size: 13px;
              color: $PRUSSIAN-60;
            }
        }



        .leave-types {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          margin-bottom: 10px;

          .leave-type-button {
            padding: 6px 16px;
            background-color: $WHITE;
            border: 1px solid $c212;
            border-radius: 20px;
            cursor: pointer;
            font-size: 14px;
            transition: all 0.2s;
            outline: none;

            &:hover {
              border-color: $c213;
            }

            &.selected {
              background-color: $c213;
              color: $WHITE;
              border-color: $c213;
            }
          }
        }

        .no-leaves-message {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          border: 0.5px solid $RED-40;
          border-radius: 4px;
          color: $RED-40;
        }

        .profile-update-note{
          font-size: 0.9rem;
          color: $c208;
          text-decoration: none;

          .update-link {
            color: $PRUSSIAN-70;
            text-decoration: none;
            font-weight: 600;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .date-container {
          display: flex;
          gap: 20px;

          @media (max-width: 480px) {
            flex-direction: column;
            gap: 15px;
          }

          .form-group {
            flex: 1;

            .date-input {
              position: relative;

              input {
                width: 100%;
                padding: 10px;
                border: 1px solid $c212;
                border-radius: 4px;
                font-size: 14px;
                background-color: $WHITE;
                font-family: "Plus Jakarta Sans";
              }
            }
          }
        }

        .validation-messages{
          margin-bottom: 16px;
          display: flex;
          flex-direction: column;
          gap: 8px;
          color: $c214;
        }

        input[type="text"] {
          width: 100%;
          padding: 10px;
          border: 1px solid $c212;
          border-radius: 4px;
          resize: vertical;
          font-family: inherit;
          font-size: 14px;
          color: $GREY-70;
          font-weight: 600;

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: $c215;
            font-weight: 500;
          }
        }

        .application-status {
          padding: 15px;
          border-radius: 8px;
          margin-bottom: 20px;

          &.info {
            background-color: $PRUSSIAN-20;
          }

          &.warning {
            background-color: $RED-20;
          }

          .status-title {
            font-weight: 600;
            margin: 0 0 5px 0;
          }

          .status-details {
            margin: 0;
            font-size: 13px;
            color: $GREY-60;
            font-weight: 500;
          }

          .status-warning {
            color: $RED-80;
            margin: 5px 0 0 0;
            font-size: 13px;
            font-weight: 600;
          }

          .status-info{
            color: $PRUSSIAN-70;
            margin: 5px 0 0 0;
            font-size: 13px;
            font-weight: 600;
          }
        }

        .form-actions {
          display: flex;
          justify-content: flex-end;
          gap: 10px;
          margin-top: 20px;

          .cancel-button {
            padding: 12px 16px;
            border: 2px solid $PRUSSIAN-70;
            background-color: $WHITE;
            color: $PRUSSIAN-70;
            border-radius: 8px;
            cursor: pointer;
            font-size: 14px;
            transition: all 0.2s;
            font-weight: 600;

            &:hover {
              border-color: $c213;
              color: $c213;
            }
          }

          .apply-button {
            padding: 12px 16px;
            border: none;
            background-color: $PRUSSIAN-70;
            color: $WHITE;
            border-radius: 8px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.2s;
            font-weight: 600;

            &:hover {
              background-color: $c216;
            }

            &:disabled {
              background-color: $c76;
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}