@use '../../design/colors/customColors' as *;

.Leave_holiday_main_container {
    height: 100%;
    width: 100%;

    .leave_holiday_header_container {
        width: 100%;
        height: auto;
        border: 0.5px solid $GREY-40;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 16px;
        gap: 2px;
        margin-bottom: 24px;

        .leave_holiday_header {
            font-family: "Plus Jakarta Sans";

            .leave_holiday_header_title {
                font-weight: 700;
                font-size: 12px;
                line-height: 20px;
                color: $GREY-60;
                text-transform: uppercase;
                letter-spacing: 0.03em;
            }

            .leave_holiday_header_subtitle {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: $GREY-80;
                letter-spacing: 0.005em;
            }
        }

        .leave_holiday_header_button {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
            background-color: $PRUSSIAN-70;
            padding: 12px 16px;
            border: none;
            border-radius: 8px;
            font-family: "Plus Jakarta Sans";
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.01em;
            color: $WHITE;
            cursor: pointer;
        }
    }

    .leave_holiday_search_container {
        display: flex;
        flex-direction: row;
        gap: 12px;
        max-width: 430px;
        position: relative;
        margin-top: 1.5rem;
        margin-bottom: 2rem;

        .leave_holiday_search_input {
            width: 100%;
            height: auto;
            border: none;
            border-bottom: 0.5px solid $GREY-40;
            padding: 12px 16px 12px 32px;
            font-family: "Plus Jakarta Sans";
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.01em;
            color: $c220;

            &:focus {
                outline: none;
            }
            &::placeholder {
                color: $GREY-50;
                font-family: "Plus Jakarta Sans";
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.01em;
            }
        }

        .leave_holiday_search_button {
            position: absolute;
            right: 0;
            padding: 8px 12px;
            background-color: $PRUSSIAN-70;
            color: $LIGHT;
            font-family: "Plus Jakarta Sans";
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.01em;
            border-radius: 8px;
            border: none;
            cursor: pointer;
        }
        .leave_holiday_search_icon {
            position: absolute;
            left: 0;
            padding: 12px 0px;
        }

        .leave_holiday_search_result {
            position: absolute;
            top: 120%;
            left: 0;
            width: 100%;
            background-color: $WHITE;
            border-radius: 4px;
            box-shadow: 0px 4px 16px $c69;
            z-index: 1;
            max-height: 200px;
            overflow-y: auto;

            .leave_holiday_search_result_container {
                display: flex;
                flex-direction: row;
                gap: 8px;
                align-items: center;
                padding: 12px 16px;
                cursor: pointer;

                &:hover {
                    background-color: $GREY-10;
                }

                span {
                    font-family: "Plus Jakarta Sans";
                    font-weight: 600;
                    font-size: 12px;
                    color: $GREY-70;
                    letter-spacing: 0.01em;
                }
            }
        }

        .no_result_found {
            width: 100%;
            background-color: $WHITE;
            border-radius: 4px;
            box-shadow: 0px 4px 16px $c69;
            z-index: 1;
            padding: 12px 16px;
            font-family: "Plus Jakarta Sans";
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.01em;
            color: $GREY-50;
        }
    }

    .yearly_holidays_section {
        margin-bottom: 2rem;
        

        .holiday_title {
            font-family: "Plus Jakarta Sans";
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: $GREY-80;
            margin-bottom: 0.8rem;

            span {
                font-weight: 600;
                font-size: 12px;
                line-height: 20px;
                color: $PRUSSIAN-70;
                margin-left: 12px;
                border:1px solid $PRUSSIAN-70 ;
                padding: 6px 14px;
                border-radius: 8px;
                cursor: pointer;
                
                img {
                    margin-right: 4px;
                }
            }
        }

        .policy_reference {
            font-family: "Plus Jakarta Sans";
            font-size: 12px;
            color: $GREY-60;
            margin-bottom: 1rem;

            .policy_link {
                color: $PRUSSIAN-70;
                text-decoration: none;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .mandatory_holiday_table_container{
            width: 450px;
            margin-top: 1rem;
            overflow: hidden;
            border-radius: 8px; 
            border: 0.5px solid $GREY-40;

            .mandatory_holidays_table {
                width: 100%;
                border-collapse: collapse;            
                border: none;
    
                thead {
                    background-color: $GREY-00;
                    
                    th {
                        padding: 12px 16px;
                        text-align: left;
                        font-family: "Plus Jakarta Sans";
                        font-weight: 700;
                        font-size: 12px;
                        color: $GREY-60;
                        border-bottom: 0.5px solid $c204;
                    }
                }
    
                tbody {
                    tr {
                        border-bottom: 0.5px solid $c204;
                        
                        &:last-child {
                            border-bottom: none;
                        }
    
                        &.selected {
                            border: 2px solid $PRUSSIAN-50;
                            background-color: $PRUSSIAN-10;
                            border-radius: 8px;
                        }
    
                        td {
                            padding: 12px 16px;
                            font-family: "Plus Jakarta Sans";
                            font-size: 14px;
                            color: $GREY-80;
                        }
                    }
    
                    tr:nth-child(even) {
                        background-color: $GREY-00;
                      }
                }
            }
        }
       

        .optional_holidays_table_container {
            width: 100%;
            margin-top: 1rem;
            overflow: hidden;
            border-radius: 8px; 
            border: 0.5px solid $GREY-40;
            
            .optional_holidays_table {
                width: 100%;
                border-collapse: collapse;            
                border: none;
                
                thead {
                    background-color: $GREY-00;
                }
                
                th {
                    padding: 10px;
                    text-align: left;
                    font-family: "Plus Jakarta Sans";
                    font-weight: 700;
                    font-size: 12px;
                    color: $GREY-60;                   
                }
                
                td {
                    padding: 8px 12px;
                    font-family: "Plus Jakarta Sans";
                    font-size: 14px;
                    color: $GREY-80;
                    cursor: pointer;
                    
                    &.selected {
                        border: 2px solid $PRUSSIAN-50;
                        background-color: $PRUSSIAN-10;
                    }
                }
        
                tr:nth-child(even) {
                    background-color: $GREY-00;
                }
            }
        }
    }
}