.log_extra_day_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(119, 184, 207, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .log_extra_day_modal_content {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        width: 450px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        font-family: "Plus Jakarta Sans";

        .log_extra_day_modal_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 32px;

            .log_extra_day_modal_title {
                font-size: 18px;
                font-weight: 600;
                color: #333333;
                text-decoration: underline;
                text-underline-offset: 0.8rem;
                text-decoration-thickness: 2px;
                text-decoration-color: #2e3038;
            }

            .log_extra_day_modal_close {
                background: #f1f1f4;
                border: none;
                font-size: 20px;
                cursor: pointer;
                padding: 8px;
                border-radius: 8px;

                &:hover {
                    color: #666666;
                }
            }
        }

        .log_extra_day_date_container {
            margin-bottom: 32px;

            .extra_day_date_container_title {
                font-size: 14px;
                display: block;
                margin-bottom: 8px;
                font-weight: 600;
                color: #2e3038;
            }

            .input_with_icon {
                position: relative;
                display: flex;
                align-items: center;
                cursor: pointer;

                .input_icon {
                    position: absolute;
                    left: 12px;
                    font-size: 18px;
                    pointer-events: none;
                    z-index: 1;
                }

                input {
                    width: 100%;
                    padding: 10px 10px 10px 45px;
                    border: 1px solid #e5e5e5;
                    border-radius: 8px;
                    font-size: 14px;
                    font-weight: 500;
                    color: #2e3038;

                    &:focus {
                        border-color: #77b8cf;
                        outline: none;
                    }

                    &::-webkit-calendar-picker-indicator {
                        display: none;
                    }

                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &::-webkit-datetime-edit-text,
                    &::-webkit-datetime-edit-month-field,
                    &::-webkit-datetime-edit-day-field,
                    &::-webkit-datetime-edit-year-field {
                        color: #8f92a3;
                    }
                }
            }
        }

        .log_extra_day_time_container {
            display: flex;
            gap: 15px;
            margin-bottom: 32px;

            .time_field {
                flex: 1;

                .time_field_title {
                    font-size: 14px;
                    display: block;
                    margin-bottom: 8px;
                    font-weight: 600;
                    color: #2e3038;
                }

                .input_with_icon {
                    position: relative;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .input_icon {
                        position: absolute;
                        left: 12px;
                        font-size: 18px;
                        pointer-events: none;
                        z-index: 1;
                    }

                    .time_input {
                        width: 100%;
                        padding: 10px 10px 10px 45px;
                        border: 1px solid #e5e5e5;
                        border-radius: 8px;
                        font-size: 14px;
                        font-weight: 500;
                        color: #2e3038;

                        &:focus {
                            border-color: #77b8cf;
                            outline: none;
                        }

                        &::-webkit-calendar-picker-indicator {
                            display: none;
                        }

                        &::-webkit-inner-spin-button,
                        &::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        &::-webkit-datetime-edit-text,
                        &::-webkit-datetime-edit-hour-field,
                        &::-webkit-datetime-edit-minute-field,
                        &::-webkit-datetime-edit-ampm-field {
                            color: #8f92a3;
                        }
                    }
                }

                .log_extra_day_credit_info {
                    width: fit-content;
                    margin-top: 8px;
                    font-size: 12px;
                    background-color: #c3e1ef;
                    border: 1px solid #87c4de;
                    border-radius: 32px;
                    padding: 2px 12px;
                    color: #2e3038;
                }
            }
        }

        .log_extra_day_remarks_container {
            margin-bottom: 32px;

            .log_extra_day_remarks_title {
                font-size: 14px;
                display: block;
                margin-bottom: 8px;
                font-weight: 600;
                color: #2e3038;
            }
            .log_extra_day_remarks_input {
                width: 100%;
                padding: 10px;
                border: 1px solid #e5e5e5;
                border-radius: 8px;
                font-size: 14px;
                font-weight: 500;
                color: #2e3038;

                &:focus {
                    border-color: #77b8cf;
                    outline: none;
                }

                &::placeholder {
                    color: #8f92a3;
                }
            }
        }

        .log_extra_day_proof_container {
            margin-bottom: 20px;

            .log_extra_day_proof_title {
                font-size: 14px;
                display: block;
                margin-bottom: 8px;
                font-weight: 600;
                color: #2e3038;
            }

            .proof_upload_box {
                position: relative;

                .proof_file_input {
                    display: none;
                }

                .proof_upload_label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    width: 100%;
                    padding: 12px;
                    border: 2px solid #77b8cf;
                    border-radius: 20px;
                    background-color: #ffffff;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: #f8fcfd;
                        border-color: #5ba5c0;
                    }

                    .proof_text {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;

                        .proof_icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .proof_main_text {
                            font-size: 10px;
                            font-weight: 600;
                            color: #2e3038;
                            // margin-bottom: 5px;
                        }
                    }
                }
            }
        }

        .log_extra_day_info {
            margin-bottom: 32px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .log_extra_day_info_container {
                background-color: #c3e1ef;
                padding: 8px 16px;
                border-radius: 4px;
                .log_extra_day_info_text {
                    font-size: 12px;
                    color: #666666;
                    margin: 5px 0;
                }
            }
        }

        .log_extra_day_warning_container {
            background-color: #F0C2C5;
            padding: 8px 16px;
            border-radius: 4px;

            .log_extra_day_warning_text{
                    font-size: 12px;
                    color: #93252C;
                    margin: 5px 0;
            }
        }

        .log_extra_day_modal_button_container {
            display: flex;
            justify-content: flex-end;
            gap: 15px;

            .log_extra_day_modal_cancel_button {
                background-color: transparent;
                color: #045071;
                border: 1px solid #045071;
                padding: 12px 16px;
                border-radius: 8px;
                font-weight: 600;
                cursor: pointer;
            }

            .log_extra_day_modal_submit_button {
                background-color: #045071;
                color: #ffffff;
                padding: 12px 16px;
                border: none;
                border-radius: 8px;
                font-weight: 600;
                letter-spacing: 0.01rem;
                cursor: pointer;

                &:hover {
                    background-color: #034a63;
                }
            }
        }
    }
}
