@use '../../design/colors/customColors' as *;

.log_extra_day_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $c205;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .log_extra_day_modal_content {
        background-color: $LIGHT;
        padding: 20px;
        border-radius: 8px;
        width: 450px;
        box-shadow: 0 2px 10px $c69;
        font-family: "Plus Jakarta Sans";

        .log_extra_day_modal_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 32px;

            .log_extra_day_modal_title {
                font-size: 18px;
                font-weight: 600;
                color: $c114;
                text-decoration: underline;
                text-underline-offset: 0.8rem;
                text-decoration-thickness: 2px;
                text-decoration-color: $GREY-80;
            }

            .log_extra_day_modal_close {
                background: $GREY-10;
                border: none;
                font-size: 20px;
                cursor: pointer;
                padding: 8px;
                border-radius: 8px;

                &:hover {
                    color: $c115;
                }
            }
        }

        .log_extra_day_date_container {
            margin-bottom: 32px;

            .extra_day_date_container_title {
                font-size: 14px;
                display: block;
                margin-bottom: 8px;
                font-weight: 600;
                color: $GREY-80;
            }

            .input_with_icon {
                position: relative;
                display: flex;
                align-items: center;
                cursor: pointer;

                .input_icon {
                    position: absolute;
                    left: 12px;
                    font-size: 18px;
                    pointer-events: none;
                    z-index: 1;
                }

                input {
                    width: 100%;
                    padding: 10px 10px 10px 45px;
                    border: 1px solid $c175;
                    border-radius: 8px;
                    font-size: 14px;
                    font-weight: 500;
                    color: $GREY-80;

                    &:focus {
                        border-color: $c221;
                        outline: none;
                    }

                    &::-webkit-calendar-picker-indicator {
                        display: none;
                    }

                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &::-webkit-datetime-edit-text,
                    &::-webkit-datetime-edit-month-field,
                    &::-webkit-datetime-edit-day-field,
                    &::-webkit-datetime-edit-year-field {
                        color: $GREY-50;
                    }
                }
            }
        }

        .log_extra_day_time_container {
            
            
            margin-bottom: 32px;

            .duration_title{
                font-size: 14px;
                display: block;
                margin-bottom: 8px;
                font-weight: 600;
                color: $GREY-80;
            }
            .duration_button_group{
                display: flex;
                gap:8px;

                .button{
                    font-size: 14px;
                    font-weight: 500;
                    color: $GREY-80;
                    padding: 8px 16px;
                    background-color: $LIGHT;
                    border:1px solid $GREY-30;
                    border-radius: 32px;
                }
                .active{
                    background-color: $PRUSSIAN-70;
                    border-color: $PRUSSIAN-80;
                    color: $LIGHT;
                    font-weight: 700;
                }
            }
            
        }

        .log_extra_day_remarks_container {
            margin-bottom: 32px;

            .log_extra_day_remarks_title {
                font-size: 14px;
                display: block;
                margin-bottom: 8px;
                font-weight: 600;
                color: $GREY-80;
            }
            .log_extra_day_remarks_input {
                width: 100%;
                padding: 10px;
                border: 1px solid $c175;
                border-radius: 8px;
                font-size: 14px;
                font-weight: 500;
                color: $GREY-80;

                &:focus {
                    border-color: $c221;
                    outline: none;
                }

                &::placeholder {
                    color: $GREY-50;
                }
            }
        }

        .log_extra_day_proof_container {
            margin-bottom: 20px;

            .log_extra_day_proof_title {
                font-size: 14px;
                display: block;
                margin-bottom: 8px;
                font-weight: 600;
                color: $GREY-80;
            }

            .proof_upload_box {
                position: relative;

                .proof_file_input {
                    display: none;
                }

                .proof_upload_label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    width: 100%;
                    padding: 12px;
                    border: 2px solid $c221;
                    border-radius: 20px;
                    background-color: $LIGHT;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: $c222;
                        border-color: $c223;
                    }

                    .proof_text {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;

                        .proof_icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .proof_main_text {
                            font-size: 10px;
                            font-weight: 600;
                            color: $GREY-80;
                            // margin-bottom: 5px;
                        }
                    }
                }
            }
        }

        .log_extra_day_info {
            margin-bottom: 32px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .log_extra_day_info_container {
                background-color: $PRUSSIAN-20;
                padding: 8px 16px;
                border-radius: 4px;
                .log_extra_day_info_text {
                    font-size: 12px;
                    color: $c115;
                    margin: 5px 0;
                }
            }
        }

        .log_extra_day_warning_container {
            background-color: $RED-20;
            padding: 8px 16px;
            border-radius: 4px;

            .log_extra_day_warning_text{
                    font-size: 12px;
                    color: $RED-80;
                    margin: 5px 0;
            }
        }

        .log_extra_day_modal_button_container {
            display: flex;
            justify-content: flex-end;
            gap: 15px;

            .log_extra_day_modal_cancel_button {
                background-color: transparent;
                color: $PRUSSIAN-70;
                border: 1px solid $PRUSSIAN-70;
                padding: 12px 16px;
                border-radius: 8px;
                font-weight: 600;
                cursor: pointer;
            }

            .log_extra_day_modal_submit_button {
                background-color: $PRUSSIAN-70;
                color: $LIGHT;
                padding: 12px 16px;
                border: none;
                border-radius: 8px;
                font-weight: 600;
                letter-spacing: 0.01rem;
                cursor: pointer;

                &:hover {
                    background-color: $c224;
                }
            }
        }
    }
}