@use "../../../design/colors/Colors";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.check_in_check_out_container{
    display: flex;
    gap: 8px;
    font-family: 'Plus Jakarta Sans';

    .check_in,
.check_out{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #FFFFFF;
    padding: 12px 24px;
    font-weight: 700;
    font-size: 14px;
    background: #033348;
    border-radius: 4rem;
    cursor: pointer;

    &.disabled {
        background-color: #AEB0BC;
        cursor: not-allowed;
        
        * {
            cursor: not-allowed !important;
        }
    }
}
}

.my-updates-container {
    width: 480px;
    max-width: auto; 
    height: 285px; 
    padding: 0px 25px 24px 24px;
    border-radius: 24.29px;
    border: 1px solid Colors.$c32; 
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;

    .update-link {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .css-1ex1afd-MuiTableCell-root {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: 400 !important;
        font-size: 16px !important;
        color: Colors.$c40 !important;
        border-bottom: 1px solid #ccc; /* Add your border style here */

       
    }

    .css-apqrd9-MuiTableBody-root {
        tr {
                border-bottom: 1px solid #E3E4E8;
                
                &:last-child {
                    border-bottom: none;
                }

                td {
                   border: none;
                }
            
        }
    }

    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
        text-transform: none;
        margin:0px;
        padding-top:1.2rem;
        background-color: Colors.$c12;
    }

    .inner-div-title {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 0.01em;
        text-align: left;
        padding-left: 10px;
        color: Colors.$c40;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: Colors.$c12;
        z-index: 2;
        padding-top: 1rem;
        padding-bottom: 17px;
    }

    .MuiTabs-root {
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        background-color: Colors.$c12;
        z-index: 1;
        margin-bottom: 10px;
    }

    &::-webkit-scrollbar {
        max-width: 3.5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: Colors.$c31;
        border-radius: 24.29px;
    }

    &::-webkit-scrollbar-track {
        background-color: Colors.$c32;
    }

    .table-body-container {
        padding: 0;
        height: auto;
    }
}



.inner-div-title {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.01em;
    text-align: left;
    padding-left: 10px;
    color: Colors.$c40; 
}

.main_table_header_div_dashboard {
    height: 8.9418vh;
    width: 90%;
    // background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5.96vh;
    margin-left: 40px;

    .inner-div-left-section_dashboard {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-center;
        gap: 15px;
    }

    .inner-div-left-title_dashboard {
        font-size: 20px;
        font-weight: 600;
        color: Colors.$c31;
        font-family: "Plus Jakarta Sans";
    }
    .inner-div-left-subtitle-2_dashboard {
        font-size: 16px;
        font-weight: 400;
        color: Colors.$c36;
        font-family: "Plus Jakarta Sans";
        line-height: 20.16px;
    }

}

.main-body-container {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 3rem 0;
    padding: 0 2rem;

    .inner-body-container{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .inner-container{
        display: flex;
        gap:20px;

        .coverClass {
            overflow: hidden;
            border-radius: 24.29px;
            height: fit-content;
            flex: 1;
            .my-updates-container, .leave-main-container{
                width: 100%;
            }
        }

        .event-card-container{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}


.dashboard-container { 
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 24.29px;
    border: 1px solid Colors.$c32;

    .btn-container{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 10px;
    }

    .profile-image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 50px 50px 10px 50px;
        overflow: hidden;
        width: 100%;
        height: auto;
    
        .profile-container{   
            justify-content: center;
            align-self: center;

            .profile-image {
                width: 125px;
                height: 125px;
                border-radius: 50%;
                object-fit: contain;
                object-position: center
            }
        }
       
    }

    .profile-view-button{
        flex-grow: 1;
        height: 36px;
        gap: 10px;
        border-radius: 20px;
        background: Colors.$c41;
        font-weight: 600;
        font-size: 16px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        box-shadow: 0px 2px 4px 0px #BDBDBD40;
        border: none;
        cursor: pointer;
        max-width: 128px;
    }

    .user-information-container{
        margin-top: 40px;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        padding-left: 40px;
        height: 400px;
        gap:20px;
    
        .user-labels{
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: Colors.$c42;
            margin-bottom: 5px;
        }
    
        .user-details{
            width: 250px;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: Colors.$c40;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.event-container{
    width: 350px;
    max-width: 394px; 
    height: 220px; 
    padding: 0px 25px 24px 20px;
    border-radius: 24.29px;
    border: 1px solid Colors.$c32; 
    overflow-y: auto;
    position: relative;

    .css-1ex1afd-MuiTableCell-root {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: 400 !important;
        font-size: 16px !important;
        color: Colors.$c40 !important;
    }

    .css-apqrd9-MuiTableBody-root {
        tr {
                border-bottom: 1px solid #E3E4E8;
                
                &:last-child {
                    border-bottom: none;
                }

                td {
                   border: none;
                }
            
        }
    }

    .inner-div-title {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.01em;
        text-align: left;
        padding-left: 10px;
        color: Colors.$c40;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: Colors.$c12;
        z-index: 1;
        padding-top: 1rem;
        padding-bottom: 16px;
    }

    &::-webkit-scrollbar {
        max-width: 3.5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: Colors.$c31;
    }

    &::-webkit-scrollbar-track {
        background-color: Colors.$c32;
    }
}

.leave-main-container{
    width: 480px;
    max-width: auto; 
    height: 285px; 
    padding: 0px 25px 24px 20px;
    border-radius: 24.29px;
    border: 1px solid Colors.$c32; 
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;

    .css-apqrd9-MuiTableBody-root {
        tr {
                border-bottom: 1px solid #E3E4E8;
                
                &:last-child {
                    border-bottom: none;
                }

                td {
                   border: none;
                }
            
        }
    }

    .inner-div-title {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.01em;
        text-align: left;
        padding-left: 10px;
        color: Colors.$c40;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: Colors.$c12;
        z-index: 1;
        padding-top: 1rem;
        padding-bottom: 16px;
    }

    .css-1ex1afd-MuiTableCell-root{
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: 400 !important;
        font-size: 16px !important;
        color: Colors.$c40 !important;
      }

        &::-webkit-scrollbar {
            max-width: 3.5px; 
    
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: Colors.$c31; 
            border-radius: 24.29px;
    
        }
    
        &::-webkit-scrollbar-track {
            background-color: Colors.$c32;
      }

    .leave-table-container{
        height: auto;
        position: relative;
        top:20px;
        left:10px;
        bottom: 50px;
    }

    .day-dropdown {
        position: relative;
        top:10px;
        width: 106px;
        height: 31px;
        margin-left: 18px;
        border-radius: 5px;
        border: none;
        background-color: #0333480D;
        color: Colors.$c31;
        font-size: 1rem;


        &:focus {
            border: none;
            width: 135.58px;
        }

        .dropdown_values{
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: Colors.$c31;
            background-color: Colors.$c12;
            
            
        }
    }

}

.employee-chart-container {
    height: 100%;
    flex: 1;
    background-color: #fff;
    border-radius: 1.5rem; 
    padding: 1.5rem 1.5rem 0rem 1.5rem; 
    border: 1px solid Colors.$c32; 
    margin-bottom: 1rem;
  
  .employee-chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .seperator{
        color:#C7C9D1;
        padding: 0px 5px;
    }
  }
  
  .employee-chart-title {
    font-family: 'Plus Jakarta Sans', sans-serif;
    border: 1px solid Colors.$c32;
    border-radius: 1rem;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.01em;
    text-align: left;
    padding-left: 10px;
    text-underline-position: from-font;
    text-decoration: none;
    color: Colors.$c40; 
  }

  .employee-chart {
    margin-top: 1rem;
  }

  .css-1ex1afd-MuiTableCell-root{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400 !important;
    font-size: 16px !important;
    color: Colors.$c40 !important;
  }

  .apexcharts-text tspan {
    font-family: plus-jakarta-sans, sans-serif !important;
    color: Colors.$c40 !important;
  }

  .apexcharts-legend-text  {
    font-family: plus-jakarta-sans, sans-serif !important;
    color: Colors.$c40 !important;
  }

  .btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    }
    .profile-view-button{
        flex-grow: 1;
        height: 36px;
        gap: 10px;
        border-radius: 20px;
        background: Colors.$c41;
        font-weight: 600;
        font-size: 16px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        box-shadow: 0px 2px 4px 0px #BDBDBD40;
        border: none;
        cursor: pointer;
        max-width: 128px;
    }

}

@media screen and (max-width: 1500px) and (min-width: 1100px) {
    .inner-body-container {
        .inner-container {
            flex-direction: column;
    
            .event-card-container {
                flex-direction: row;
                gap: 20px;

                .coverClass {
                    display: flex;
                    justify-content: center;
                    .event-container {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .inner-body-container {
        .inner-container {
            flex-direction: column;

            .coverClass {
                display: flex;
                justify-content: center;
                .event-container {
                    width: 100%;
                }
            }
        }
    }
}
