.message {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
  // animation: slide-down 0.5s ease-out, slide-up 0.5s ease-out 1.5s;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0.9px;
}

.message.success {
  background-color: #7cc25b;
}

.message.failed {
  background-color: #ff8b8b;
}
