.employee_repository_container * {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
}

.employee_repository_container {
  padding: 1.5rem 2.25rem;
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }
  
  &::-webkit-scrollbar-track {
    background: #D2D9DF;
    border-radius: 4px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #054A68;
    border-radius: 4px;
  }

  .employee_repository_tabs {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    span {
      display: flex;
      flex-direction: row;
      gap: 0.75rem;
      align-items: center;
    }

    .active_tab {
      background-color: #ebfafa;
      padding: 0.75rem 0.875rem;
      border-bottom: 0.25rem solid #28a2a2;
      border-radius: 0.5rem 0.5rem 0rem 0rem;
      font-size: 0.875rem;
      font-weight: 700;
      color: #2e3038;
      font-family: "Plus Jakarta Sans";
      line-height: 1.25rem;
      letter-spacing: 0.01em;
      cursor: pointer;
    }
    .inactive_tab {
      background-color: #ebfafa;
      padding: 0.75rem 0.875rem;
      border-bottom: none;
      border-radius: 0.5rem 0.5rem 0rem 0rem;
      font-size: 0.875rem;
      font-weight: 600;
      color: #2e3038;
      font-family: "Plus Jakarta Sans";
      line-height: 1.25rem;
      letter-spacing: 0.01em;
      cursor: pointer;
    }
  }
}
