.employee_repository_main_container {
  font-family: 'Plus Jakarta Sans';
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;

  .employee_repository_header_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .employee_repository_body_container {
      width: 100%;
            height: 0;
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 24px 36px;
            overflow-y: auto;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 10px;
            }
            
            &::-webkit-scrollbar-track {
                background:#D2D9DF;
                border-radius: 4px;
            }
            
            &::-webkit-scrollbar-thumb {
                background: #054A68;
                border-radius: 4px;
            
            }

      .employee_repository_tabs {
        display: flex;
        flex-direction: row;
        gap: 16px;
        flex-shrink: 0;
        span {
                    display: flex;
                    flex-direction: row;
                    gap: 12px;
                    align-items: center;
                }

                .active_tab {
                    background-color: #ebfafa;
                    padding: 12px 14px;
                    border-bottom: 4px solid #28a2a2;
                    border-radius: 8px 8px 0px 0px;
                    font-size: 14px;
                    font-weight: 700;
                    color: #2e3038;
                    font-family: "Plus Jakarta Sans";
                    line-height: 20px;
                    letter-spacing: 0.01em;
                    cursor: pointer;
                }
                .inactive_tab {
                    background-color: #ebfafa;
                    padding: 12px 14px;
                    border-bottom: none;
                    border-radius: 8px 8px 0px 0px;
                    font-size: 14px;
                    font-weight: 600;
                    color: #2e3038;
                    font-family: "Plus Jakarta Sans";
                    line-height: 20px;
                    letter-spacing: 0.01em;
                    cursor: pointer;
                }
                 hr {
                border: none;
                border-top: 0.5px solid #8f92a3;
                flex-shrink: 0;
            }
            

       
      }

     
    }
  }
}
