
.employee_repository_dashboard_main_container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;

    .employee_repository_dashboard_header_container {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        .display_routes {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
          }

        .uam_main__header{
            border-bottom: 1px solid #054A684D;

        }

        .employee_repository_dashboard_body_container{
            width: 100%;
            height: 100%;
            padding: 54px 50px;
            overflow-y: hidden;
            object-fit: contain;

            .employee_repository_dashboard_heading_container{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .employee_repository_dashboard_title_container{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .employee_repository_dashboard_title{
                        font-size: 28px;
                        font-weight: 700;
                        color: #033348;
                        font-family: 'Plus Jakarta Sans';
                    }

                    .employee_repository_dashboard_sub_title{
                        font-size: 16px;
                        font-weight: 400;
                        color: #033348;
                        font-family: 'Plus Jakarta Sans';
                    }
                }

                .employee_repository_dashboard_buttons_container{
                    display: flex;
                    gap: 10px;

                    .employee_repository_dashboard_button{
                        width: 100%;
                        height: 40px;
                        white-space: nowrap;
                        padding: 10px;
                        border:none;
                        border-radius: 5px;
                        background-color: #045071;
                        cursor: pointer;

                        &:hover{
                            background-color: #033348;
                        }
                        
                        p{
                            display: flex;
                            align-items: center;
                            gap:12px;
                            font-size: 14px;
                            font-weight: 400;
                            color: #FFFFFF;
                            font-family: 'Plus Jakarta Sans';
                        }
                    }

                }
    
            }


        }

    }
   
  }