.employee-directory-container {
    width: 100%;
    margin-top: 24px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    

    .all-features {
        display: flex;
        align-items: center;
        margin-bottom: 24px; 
    }
    .search-bar-collapsed {
        display: flex;
        align-items: center;
        flex-grow: 1; 
        gap: 12px; 

        .search-input-group {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            max-width: 450px;
            border: none; 
            border-radius: 0;
            padding: 0; 
            border: none;
            border-bottom: 1px solid #aeb0bc; 
            .employee-search-icon {
                width: 20px;
                margin-left: 0; 
                margin-right: 8px; 
            }

            .employee-search-input {
                border: none;
                padding: 10px 0; 
                margin: 0; 
                outline: none;
                font-size: 16px;
                flex: 1;
                caret-color: #8f92a3;
                padding-left: 8px;
                color: #8f92a3;
                &::placeholder {
                    color:#8f92a3;
                }
            }
            
            
        }
    }

   
    .filter-options {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: 12px; 
    }

    
    .filter-button,
    .filter-toggle-icon {
        min-width: 44px;
        height: 44px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: relative;
        border: 2px solid #2fbcbc; 
        background-color: #ffffff;
        transition: background-color 0.2s ease;
        .dot {
        position: absolute;
        top: 2px;
        right: 2px;
        width: 10px;
        height: 10px;
        background-color: #2fbcbc; 
        border: 2px solid #ffffff; 
        border-radius: 50%;
    }

        img {
            width: 20px;
            height: 20px;
        }

        
        &.active {
            background-color: #c2f0f0; 
            border-color: #2fbcbc;
        }
    }

    .filter-bar-expanded {
        display: flex;
        align-items: center;
        gap: 8px; 
        flex-wrap: wrap; 

        .filter-dropdown-container {
            position: relative;
            
            .filter-button-label {
                padding: 12px 16px;
                border-radius: 64px;
                border: 2px solid #2fbcbc; 
                background-color: #ffffff;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 6px;
                font-size: 14px;
                font-weight: 600;
                color: #2e3038;

                &.active {
                    background-color: #e0f6ff; 
                }
                span{
                    color: #ffffff;
                    background-color: #454745;
                    height: 20px;
                    width: 20px;
                    display: inline-flex;   
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    font-size: 12px;  
                    font-weight: 600;

                }
                .dropdown-arrow-icon {
                    width: 12px; 
                    height: 12px;
                    margin-left: 5px;
                    transition: transform 0.2s ease-in-out;
                }
                .dropdown-arrow-icon.rotated {
                    transform: rotate(180deg);
                }
            }

            .dropdown-menu {
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 100;
                min-width: 250px;
                background-color: #ffffff;
                border: 0.5px solid #c7c9d1;
                border-radius: 4px;
                padding: 8px 0;
                
                .search-input-container{
                    border: none;
                    border-bottom: 1px solid #aeb0bc; 
                    display: flex;
                    align-items: center;
                    padding: 8px 12px;
                    gap:8px;

                    .dropdown-search-input{
                        outline: none;
                        border: none;
                        font-size: 12px;
                        font-weight: 600;
                        color: #8f92a3;
                        caret-color: #8f92a3;
                        &::placeholder {
                        color: #8f92a3;
                        font-family: 'Plus Jakarta Sans', sans-serif;
                    }
                    }
                    
                    
                }
                .no-results{
                    color: #454745;
                    font-size: 14px;
                    text-align: center;
                    font-weight: 600;
                    padding: 12px 16px;
                }
                

                .dropdown-item {
                    padding: 12px 16px;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: #454745;
                    font-size: 14px;
                    font-weight: 600;

                    &:hover {
                        background-color: #f1f1f4;
                    }
                }
            }
        }

        
        .clear-filters-button {
            display: flex;
            align-items: center;
            gap: 4px;
            cursor: pointer;
            background: none;
            border: none;
            color:#2e3038;
            font-weight: 700;
            font-size: 14px; 
            padding: 0 4px; 
            
            .clear-icon-x p {
                width: 16px;
                height: 16px;
                
            }
            
            
        }
    }

    
    .employee-title {
        margin-top: 32px;
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 600;
        color: #2e3038;
    }
    .employee-list {
        column-count: 2;
        column-gap: 16px;
    }
    @media (max-width: 768px) {
        .employee-list {
            column-count: 1;
        }
    }
    
    .no-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;

    .no-results-image {
      max-width: 200px;
      height: auto;
      margin-bottom: 20px;
    }

    .no-results-text {
      font-size: 22px;
      color: #033348;
      line-height: 1.5;
    }
  }

  .employee-title {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #2e3038;
  }
  .employee-list {
   column-count: 2;
  column-gap: 16px;
  
}
@media (max-width: 768px) {
  .employee-list{
    column-count: 1;
  }
  
}
}