@use '../../design/colors/customColors' as *;

.employee-directory-container {
    width: 100%;
    margin-top: 24px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    

    .all-features {
        display: flex;
        align-items: center;
        margin-bottom: 24px; 
    }
    .search-bar-collapsed {
        display: flex;
        align-items: center;
        flex-grow: 1; 
        gap: 12px; 

        .search-input-group {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            max-width: 450px;
            border: none; 
            border-radius: 0;
            padding: 0; 
            border: none;
            border-bottom: 1px solid $GREY-40; 
            .employee-search-icon {
                width: 20px;
                margin-left: 0; 
                margin-right: 8px; 
            }

            .employee-search-input {
                border: none;
                padding: 10px 0; 
                margin: 0; 
                outline: none;
                font-size: 16px;
                flex: 1;
                caret-color: $GREY-50;
                padding-left: 8px;
                color: $GREY-50;
                &::placeholder {
                    color:$GREY-50;
                }
            }
            
            
        }
    }

   
    .filter-options {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: 12px; 
    }

    
    .filter-toggle-icon {
        min-width: 44px;
        height: 44px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: relative;
        border: 2px solid $CYAN-50; 
        background-color: $WHITE;
        transition: background-color 0.2s ease;
        .dot {
        position: absolute;
        top: 2px;
        right: 2px;
        width: 10px;
        height: 10px;
        background-color: $CYAN-50; 
        border: 2px solid $WHITE; 
        border-radius: 50%;
    }

        img {
            width: 20px;
            height: 20px;
        }

        
        &.active {
            background-color: $CYAN-20; 
            border-color: $CYAN-50;
        }
    }

    .filter-bar-expanded {
        display: flex;
        align-items: center;
        gap: 8px; 
        flex-wrap: wrap; 

        
        .clear-filters-button {
            display: flex;
            align-items: center;
            gap: 4px;
            cursor: pointer;
            background: none;
            border: none;
            color:$GREY-80;
            font-weight: 700;
            font-size: 14px; 
            padding: 0 4px; 
            
            .clear-icon-x p {
                width: 16px;
                height: 16px;
                
            }
            
            
        }
    }

    
    .employee-title {
        margin-top: 32px;
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 600;
        color: $GREY-80;
    }
    .employee-list {
        column-count: 2;
        column-gap: 16px;
    }
    @media (max-width: 768px) {
        .employee-list {
            column-count: 1;
        }
    }
    
  .employee-title {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 600;
    color: $GREY-80;
  }
  .employee-list {
   column-count: 2;
  column-gap: 16px;
  
}
@media (max-width: 768px) {
  .employee-list{
    column-count: 1;
  }
  
}
}