@use '../../../design//colors//Colors';

.pending_requests_cards {
    padding: 0px 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    
}

.pr_card {
    width: 30%;
    height: fit-content;

    border: 1.5px solid grey;
    border-radius: 10px;


    .pr_card_header {
        background-color: Colors.$c9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        .pr_card_header_left {
            display: flex;
            align-items: center;
            gap: 5px;

            .user_name {
                font-size: 1vw;
                color: Colors.$c31;
                font-weight: 700;
                font-family: "Plus Jakarta Sans", sans-serif;
            }
        }

        .pr_card_header_right {
            p {
                font-size: 0.9vw;
                color: grey;
                font-weight: 600;
                font-family: "Plus Jakarta Sans", sans-serif;
            }
        }

    }


    .pr_card_body {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .request_section {
            font-size: 0.9vw;
            color: grey;
            font-weight: 600;
            font-family: "Plus Jakarta Sans", sans-serif;



            .access_request {
                margin-top: 5px;
                display: flex;
                align-items: center;
                gap: 10px;


                .access {
                    font-family: "Plus Jakarta Sans", sans-serif;
                    font-size: 14px;
                    font-weight: 760;
                    line-height: 19px;
                    letter-spacing: 0em;
                    color: Colors.$c14;
                }

            }
        }

        .tool_name_section {
            font-size: 0.9vw;
            color: grey;
            font-weight: 600;
            font-family: "Plus Jakarta Sans", sans-serif;


            .description {
                font-family: "Plus Jakarta Sans", sans-serif;
                font-size: 15px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                color: #033348B2;
                opacity: 0.8;
                margin-top: 5px;

            }
        }

        .tool_remark_section {
            .remark_toggle {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            p {
                font-size: 0.9vw;
                color: grey;
                font-weight: 600;
                font-family: "Plus Jakarta Sans", sans-serif;
            }

            img {
                cursor: pointer;
                transition: 0.5s ;

                &.closed{
                    transform: rotate(180deg);
                }
            }


            .description {
                font-family: "Plus Jakarta Sans", sans-serif;
                font-size: 15px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                color: #033348B2;
                opacity: 0.8;
                margin-top: 5px;

            }
        }



    }

    .pr_card_footer {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        button {
            padding: 7px 12px;
            display: flex;
            align-items: center;
            gap: 5px;
            font-family: "Plus Jakarta Sans", sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: Colors.$c18;
            border-radius: 20px;
            cursor: pointer;

            &.accept_button{
                border: 1px solid Colors.$c35;
                background-color: #defbd1;
                
                // opacity: 0.5;
            }
            &.reject_button{
                border: 1px solid Colors.$c37;
                background-color:#f5d5d5 ;
            }
        }
    }


}