#default_state_box {
    background-color: #0333480D;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
}

#default_state_label {
    color: #033348;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

#custom-menu-item {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #033348;
    width: 135px;
    border-radius: 5px;
}

#custom-menu-item:hover {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #033348;
    border-radius: 5px;
}