.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(158, 185, 197, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .modal_container {
        background-color: #ffffff;
        border-radius: 26px;
        padding: 24px;
        width: auto;
        height: auto;
        position: relative;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;

        .modal_title{
            font-size: 18px;
            font-weight: 700;
            font-family: 'Plus Jakarta Sans';
            color: #033348;
        }

        .horizontal_line{
            border: 0.25px solid #C7C9D1;
            margin: 24px 0px;

        }

        .modal_content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap : 13px;

            .leave_type_name{
                font-size: 14px;
                font-weight: 700;
                font-family: 'Plus Jakarta Sans';
                color: #033348;
            }

            input {
                width: 494px;
                max-width: 500px;
                height: 40px;
                padding: 10px;
                border: 0.35px solid #8CACBA;
                border-radius: 5px;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Plus Jakarta Sans';
                color: #033348;

                &::placeholder {
                    color: #6B7280;
                }

                &:focus {
                    outline: none;
                }
            }

            .leave_error_message{
                font-size: 14px;
                font-weight: 400;
                font-family: 'Plus Jakarta Sans';
                color: #FF0000;
            }

        }

        .modal_content_action_buttons{
            margin-top: 40px;
            display: flex;
            gap: 16px;


            .cancel_leave_button{
                border: 2px solid #033348;
                padding: 10px 25px;
                background-color: #ffffff;
                color: #033348;
                border-radius: 10px;
                font-size: 16px;
                font-weight: 600;
                font-family: 'Plus Jakarta Sans';
                cursor: pointer;
            }

            .submit_leave_button{
                border: 2px solid #045071;
                padding: 10px 25px;
                background-color: #045071;
                color: #ffffff;
                border-radius: 10px;
                font-size: 16px;
                font-weight: 600;
                font-family: 'Plus Jakarta Sans';
                cursor: pointer;
            }
        }
      }
  }