.leave_configurator_container * {
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans";
}

.leave_configurator_container {
    padding: 1.5rem 2.25rem;
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background: #D2D9DF;
        border-radius: 4px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #054A68;
        border-radius: 4px;
    }

    .leave_configurator_dashboard_body_container {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        object-fit: contain;

            .leave_configurator_dashboard_heading_container {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .leave_configurator_dashboard_title_container {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .leave_configurator_dashboard_title {
                        font-size: 28px;
                        font-weight: 700;
                        color: #033348;
                        font-family: "Plus Jakarta Sans";
                    }

                    .leave_configurator_dashboard_sub_title {
                        font-size: 16px;
                        font-weight: 400;
                        color: #033348;
                        font-family: "Plus Jakarta Sans";
                    }
                }

                .leave_configurator_dashboard_buttons_container {
                    display: flex;
                    gap: 10px;

                    .leave_configurator_dashboard_button:first-child {
                        cursor: not-allowed;
                        background-color: white;
                        border: 2px solid #045071;
                        padding: 0px 10px !important;

                        .request_button_container {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            
                                                   
                            p {
                                color: #045071 !important;
                                font-size: 16px;
                                font-weight: 600;
                                font-family: "Plus Jakarta Sans";
                                text-align: center;
                            }
                        }

                    }

                    .leave_configurator_dashboard_button {
                        width: 100%;
                        height: 40px;
                        white-space: nowrap;
                        padding: 10px;
                        border: none;
                        border-radius: 5px;
                        background-color: #045071;
                        cursor: pointer;


                        div {
                            display: flex;
                            align-items: center;
                            gap: 12px;
                            font-size: 16px;
                            font-weight: 400;
                            color: #ffffff;
                            font-family: "Plus Jakarta Sans";
                        }
                    }

                    .Add_leaves_button_main_container{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        
                        .Add_leaves_button_container {
                            width: 100%;
                            height: 40px;
                            white-space: nowrap;
                            padding: 10px;
                            border: none;
                            border-radius: 5px;
                            background-color: #045071;
                            cursor: pointer;

                            &:hover {
                                background-color: #033348;
                            }

                            .Add_leaves_button{
                                display: flex;
                                align-items: center;
                                gap: 12px;
                                font-size: 16px;
                                font-weight: 400;
                                color: #ffffff;
                                font-family: "Plus Jakarta Sans";
                            }
                        
                        }
                        .Add_leaves_button_dropdown{
                            position: absolute;
                            background-color: #ffffff;
                            border: 0.25px solid #E3E4E8CC;
                            border-radius: 5px;
                            z-index: 1;
                            width: 140px;
                            height: auto;
                            top: 50px;
                            overflow: auto;

                            
                            &::-webkit-scrollbar {
                                width: 4px;
                            }
                        
                            &::-webkit-scrollbar-track {
                                background: #d2d9df;
                                border-radius: 4px;
                            }
                        
                            &::-webkit-scrollbar-thumb {
                                background: #054a68;
                                border-radius: 4px;
                        
                                &:hover {
                                background: #bbb;
                                }
                            }
                            
                            .Add_leaves_button_dropdown_item{
                                width: 100%;
                                height: auto;
                                display: flex;
                                align-items: center;
                                color: #045071;
                                font-size: 16px;
                                font-weight: 600;
                                font-family: "Plus Jakarta Sans";
                                padding: 10px 10px;
                                cursor: pointer;

                                &:hover{
                                    background-color: #E7F3F8;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

