.LeaveDiscardPopup-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(158, 185, 197, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .LeaveDiscardPopup-modal-container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 24px;
    width: 353px;
    height: 224px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .LeaveDiscardPopup-close-button {
    position: absolute;
    right: 16px;
    top: 16px;
    background: none;
    border: none;
    cursor: pointer;
    color: #6b7280;
    padding: 4px;
    
    &:hover {
      color: #374151;
    }
  }
  
  .LeaveDiscardPopup-modal-content {
    text-align: center;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Plus Jakarta Sans';
    color: #033348;
  }
  
  .LeaveDiscardPopup-modal-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  
    button {
      padding: 8px 16px;
      border-radius: 6px;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.2s ease;
      border: none;
  
      &.LeaveDiscardPopup-submit-button {
        width: 127px;
        height: 29px;
        background-color: #045071;
        color: white;
        font-size: 14px;
        font-weight: 800;
        font-family: 'Plus Jakarta Sans';
        display: flex;
        align-items: center;
  
        &:hover {
          background-color: #03405a;
        }
      }
  
      &.LeaveDiscardPopup-cancel-button {
        width: 127px;
        height: 29px;
        font-size: 14px;
        font-weight: 800;
        font-family: 'Plus Jakarta Sans';
        background-color: #C3E1EF;
        color: #2E3038;
        display: flex;
        align-items: center;
        justify-content: center;
  
        &:hover {
          background-color: #e5e7eb;
        }
      }
    }
  }