.leave_configurator_main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 32px 56px;
  overflow-y: auto;
  overflow-x: hidden ;


  .leave_configurator_action_buttons {
    display: flex;
    gap: 12px;

    &.create_edit_mode{
      justify-content: flex-end;
    }

    &.view_mode {
      justify-content: space-between;
    }

    .leave_configurator_save_button {
      background-color: #054a68;
      border: none;
      border-radius: 5px;
      width: 70px;
      height: 40px;
      color: #ffffff;
      font-weight: 600;
      font-family: "Plus Jakarta Sans";
      font-size: 14px;
      line-height: 20px;
      cursor: pointer;
    }

    .leave_configurator_cancel_button {
      background-color: #f1f1f4;
      border: none;
      border-radius: 5px;
      width: 70px;
      height: 40px;
      color: #2e3038;
      font-weight: 600;
      font-family: "Plus Jakarta Sans";
      font-size: 14px;
      line-height: 20px;
      cursor: pointer;
    }

    .edit-button {
      max-width: 88px;
      max-height: 36px;
      padding: 8px 16px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      border-radius: 40px;
      background: #f1f1f4;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;
  
      &:hover {
        background: #e3e3e7;
      }
      span {
        font-family: "Plus Jakarta Sans";
        font-weight: 600;
        font-size: 14px;
        color: #454754;
      }
    }

    .leave_configurator_back_button{
      background: none;
      border: none;
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
    }
  }

  .leave_configurator_hr {
    margin-top: 1rem;
    border: none;
    border-top: 1px solid #c7c9d1;
  }

  .leave_configurator_form_container {
    .leave_configurator_form {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      margin-top: 15px;
      gap: 30px;

      &::before,
      &::after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          width: 1px;
          background-color: #E3E4E8;
      }

      &::before {
          left: calc(33.33% - 10px); // Positioning first vertical line
      }

      &::after {
          left: calc(66.66% + 10px); // Positioning second vertical line
      }

      .leave_configurator_form_inner_container {
        flex: 1;
        padding: 16px;
        

        .leave_configurator_form_field_container {
          display: flex;
          flex-direction: column;
          gap: 16px;
          margin-bottom: 35px;

          .leave_configurator_pill_container{
            display: flex;
            gap:13px;
            flex-wrap: wrap;
          }

          .leave_configurator_form_field_label {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 600;
            font-family: "Plus Jakarta Sans";
            line-height: 24px;
            color: #2e3038;
            gap: 5px;

            span{
              display: flex;
              align-items: center;
            }

            .mandatory-marker{
              color: #2E3038;
            }

            .sub_label{
              font-size: 12px;
              font-weight: 600;
              font-family: "Plus Jakarta Sans";
              line-height: 20px;
              color: #2E3038;
            }
          }
          .leave_configurator_form_field_input {
            background-color: #ffffff;
            border: 0.35px solid #aeb0bc;
            padding: 10px 14px;
            border-radius: 5px;
            cursor: pointer;
            font-family: 'Plus Jakarta Sans';
            font-size: 14px;
            font-weight: 500;
            color: #033348;
            
            &:focus {
              outline: none;
            }

            &.disabled {
              cursor: not-allowed !important;
              opacity: 0.5;
            }

            &::placeholder {
              font-family: 'Plus Jakarta Sans';
              font-size: 14px;
              font-weight: 500;
              color: #033348;
            }
          }

          input[type="checkbox"] {
              width: 20px;
              height: 20px;
              cursor: pointer;
              border-radius: 50%;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              border: 1.5px solid #033348;
          }
          
          input[type="checkbox"]:checked {
              background-image: url("../../../../assets/icons/round_checkbox_checked.svg");
              background-size: 20px;
              background-position: center;
              background-repeat: no-repeat;
              border: none;
          }

          &.disabled {
            input[type="checkbox"] {
              cursor: not-allowed !important;
              opacity: 0.5;
            }
          }

          select{
            background-color: #ffffff;
            border: 0.35px solid #aeb0bc;
            padding: 10px 14px;
            border-radius: 5px;
            cursor: pointer;
            font-family: 'Plus Jakarta Sans';
            font-size: 14px;
            font-weight: 500;
            color: #033348;

            &:focus {
              outline: none;
            }

            &.disabled {
              cursor: not-allowed !important;
              opacity: 0.5;
            }

            option {
              font-family: 'Plus Jakarta Sans';
              font-size: 14px;
              font-weight: 500;
              color: #033348;
            }
          }
        }
      }
    }
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #d2d9df;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #054a68;
    border-radius: 4px;

    &:hover {
      background: #bbb;
    }
  }

  .Leave_applicable_main_container{
    display: flex;
    flex-direction: column;
    gap:24px;
    border: 1px solid #E3E4E8;
    border-radius: 15px;
    padding: 24px;
    margin-top: 30px;

    .leave_applicable_title_container{
      display: flex;
      align-items: center;
      gap:17px;
      
      input[type="checkbox"] {
        width: 22px;
        height: 22px;
        border-radius: 4px;
        background-color: #ffffff;
        border: 2px solid #054A68;
        cursor: pointer;
        -webkit-appearance: none; 
        appearance: none; 
      
        &:checked {
          background-image: url("../../../../assets/icons/square_checkbox_checked.svg");
          background-size: 22px;
          background-position: center;
          background-repeat: no-repeat;
          border: none;
        }
        &:focus {
          outline: none;
        }
      }

      label {
        font-family: 'Plus Jakarta Sans';
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #2E3038;
      }
    }
  }
}
