.time-input-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.time-input-grid-row {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
}

.time-input-row {
  display: flex;
  align-items: center;
  width: calc(50% - 12px);
  margin-bottom: 16px;
  min-width: 500px;
}

.time-input-label {
  min-width: 112px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Plus Jakarta Sans';
  line-height: 24px;
  color: #2E3038;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time-input-value-container {
  margin-left: 16px;
  width: 50px;
  height: 42px;
  border: 1px solid #aeb0bc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  flex-shrink: 0;

  .time-input-value {
    width: 100%;
    height: 100%;
    border: none !important;
    text-align: center;
    font-size: 14px;
    color: #033348;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #aaa;
    }
  }
}

.time-input-unit-selector {
  margin-left: 16px;
  display: flex;
  border-radius: 999px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  flex-shrink: 0;

  .time-input-unit-option {
    font-size: 16px;
    font-weight: 500;
    font-family: "Plus Jakarta Sans";
    padding: 8px 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    border-right: 1px solid #e0e0e0;

    &:last-child {
      border-right: none;
    }

    &:focus {
      outline: none;
    }

    &.selected {
      background-color: #004060;
      color: white;
      font-weight: 500;
    }

    .checkmark {
      margin-right: 8px;
    }
  }
}

.time-input-view-pill {
  margin-left: 16px;
  padding: 4px 26px;
  border-radius: 9999px;
  background-color: #F1F1F4;
  font-size: 16px;
  color: #2E3038;
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border : 1px solid #AEB0BC;
}

/* Responsive behavior */
@media (max-width: 1200px) {
  .time-input-row {
    width: 100%;
  }
}
