.mandatory_field_modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(158, 185, 197, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .mandatory_field_modal_container {
        background-color: #ffffff;
        border-radius: 26px;
        padding: 24px;
        width: 297px;
        height: 176px;
        position: relative;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;

        .close_icon{
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
        }
        .exclamation_mark{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px 0px 20px 0px;

            img{
                width: 50px;
                height: 50px;            
            }
        }   

        .mandatory_field_modal_content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap : 13px;

            .leave_type_name{
                font-size: 16px;
                font-weight: 500;
                font-family: 'Plus Jakarta Sans';
                color: #033348;
            }


        }
      }
  }