@use '../../design/colors/customColors' as *;

.pill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    .pill {
        background-color: $WHITE;
        border: 1px solid $GREY-40;
        border-radius: 30px;
        color: $GREY-70;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Plus Jakarta Sans';
        padding: 4px 16px;
        transition: all 0.2s ease-in-out;
        outline: none;
        
        &:hover {
          background-color: $c231;
        }
        
        &.selected {
          background-color: $c232;
          border-color: $c232;
          color: $WHITE;
        }
        
        &.disabled {
          background-color: $GREY-10;
          color:$GREY-80;
          cursor: not-allowed !important;
          opacity: 0.5;
        }
      
      }
  }