.tooltip-container {
    position: relative;
    display: flex;
    align-items: center;

  }
  
  .tooltip-box {
    position: absolute;
    background-color: #045071;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 12px;
    font-family: "Plus Jakarta Sans", sans-serif;
    white-space: normal; /* Allow content to wrap */
    z-index: 9999;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    width: 340px;
    height: auto;
  }
  
  .tooltip-container:hover .tooltip-box {
    opacity: 1;
    visibility: visible;
  }
  
  /* Default position: top */
  .tooltip-top {
    bottom: 125%; /* Position above the element */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%; /* Arrow pointing down */
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: #045071 transparent transparent transparent;
  }
  
  /* Position: bottom */
  .tooltip-bottom {
    top: 125%; /* Position below the element */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%; /* Arrow pointing up */
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #045071 transparent;
  }
  
  /* Position: left */
  .tooltip-left {
    top: 50%;
    right: 125%; /* Position to the left of the element */
    transform: translateY(-50%);
  }
  
  .tooltip-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%; /* Arrow pointing right */
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent #045071;
  }
  
  /* Position: right */
  .tooltip-right {
    top: 50%;
    left: 125%; /* Position to the right of the element */
    transform: translateY(-50%);
  }
  
  .tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%; /* Arrow pointing left */
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent #045071 transparent transparent;
  }